{% extends "blog/base.html" %}
{% block nav_item_about %}active{% endblock nav_item_about %} 
{% block content %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% trans "So much is either unknown, or misunderstood about Russia and its people. We moved to Moscow to explore it for ourselves, and to share the things that we learn along the way. If you're curious about life in Moscow, you came to the right place." as meta_tag %}

<head>
  <meta name="description" content={{meta_tag}}>
</head>


<section id="about-body">
  <section class="section-a">
    <div class="container two-columns">
      <div>
        <h1>{% trans "...why Moscow!?" %}</h1>
        <p>
          {% trans "We get that question <em>a lot.</em>" %}
          <p>
            {% trans "<b>After living in Korea</b> for almost four years, it was time for a new adventure. What bigger adventure is there, than Russia? We have been fascinated by Russia for many years, and so much is either unknown, or misunderstood about this country and its people. <b>We moved to Russia</b> to explore it for ourselves, and share the things that we learn along the way. If you're curious about life in Moscow, you came to the right place." %}
          </p>
          <br>
          
          <!-- <img src="{% static 'blog/images/logo.png' %}" style="width:50%; height: 50%;"> -->
        </p>
      </div>
      <div class="container">
        <!-- Matt's Profile-->
        <div class="col text-center pt-0">
          <!-- Auto translation isn't working for "Co-owner & Site Developer" string, so using an "if" statement here -->
          {% if LANGUAGE_CODE == 'en' %}
            <a role="button" title="Co-owner & Site Developer" data-trigger="hover" data-content={% trans "Matt" %} data-toggle="popover">
              <img src='{{matt.profile.image.url}}' alt="" class="img-fluid rounded-circle comment-img" style="width: 250px; height: 250px;">
            </a>
          {% elif LANGUAGE_CODE == 'ru' %}
            <a role="button" title="Совладелец и Pазработчик Cайта" data-trigger="hover" data-content={% trans "Matt" %} data-toggle="popover">
              <img src='{{matt.profile.image.url}}' alt="" class="img-fluid rounded-circle comment-img" style="width: 250px; height: 250px;">
            </a>
          {% endif %}


          <!-- Matt's row of icons -->
          <div class="about-socials-section">
            <ul class="about-socials p-0 m-0">
              <li>
                <a href="https://twitter.com/whattheblin">
                  <i class="fab fa-twitter twitter-icon"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/theblinmachine">
                  <i class="fab fa-instagram instagram-icon"></i>
                </a>
              </li>
              <li>
                <a href="https://vk.com/id270055926">
                  <i class="fab fa-vk vk-icon"></i>
                </a>
              </li>
            </ul>
          </div>
          <hr class="d-none d-md-block" style="width: 50px;">

          <!-- Steph's Profile -->
          <a role="button" title={% trans 'Co-owner' %}  data-trigger="hover" data-content={% trans 'Steph' %} data-toggle="popover">
          <div class="col text-center py-3">
            <img src='{{steph.profile.image.url}}' alt="" class="img-fluid rounded-circle comment-img" style="width: 250px; height: 250px;">
          </a>

            <!-- Steph's row of icons -->
            <div class="about-socials-section">
              <ul class="about-socials p-0 m-0">
                <li>
                  <a href="https://www.instagram.com/slabelle44">
                    <i class="fab fa-instagram instagram-icon"></i>
                  </a>
                </li>
                <li>
                  <a role="button" title='{% trans "Email:" %}' data-trigger="hover" data-content="contact@whattheblin.com" data-toggle="popover">
                    <i class="fas fa-envelope email-icon"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </section>
</section>

  <!-- Large Text -->
  <div class="section-b">
    <div class="overlay-about">
      <div class="section-b-inner">
        <h3>{% trans "Podcast Series" %}</h3>
        <h2 class="py-1">{% trans "The Adventure Continues" %}</h2>
        <p class="py-1">
          {% trans "Once a week, we release a new podcast episode where we discuss what it's really like to live and work in Moscow. We document every part of our lives here, starting from the first week we arrived. You can listen to them on our YouTube channel here." %}
        </p>
      </div>
    </div>
  </div>

  <!-- Gallery -->
  <section class="section-c">
    <div class="gallery">
      <!-- Far Left Big -->
      <a href="{% static 'blog/images/thailand.png' %}">
        <img src="{% static 'blog/images/thailand.png' %}"/>
      </a>
      <!-- Center Top (wide) -->
      <a href="{% static 'blog/images/Osaka.png' %}">
        <img src="{% static 'blog/images/Osaka.png' %}"/>
      </a>
      <!-- Far Right -->
      <a href="{% static 'blog/images/seoul.png' %}">
        <img src="{% static 'blog/images/seoul.png' %}"/>
      </a>
      <!-- Center bottom left -->
      <a href="{% static 'blog/images/deer.png' %}">
        <img src="{% static 'blog/images/deer.png' %}"/>
      </a>
      <!-- Center bottom right -->
      <a href="{% static 'blog/images/calgary.png' %}">
        <img src="{% static 'blog/images/calgary.png' %}"/>
      </a>
      <a href="{% static 'blog/images/beach.png' %}">
        <img src="{% static 'blog/images/beach.png' %}"/>
      </a>
    </div>
  </section>
</section>

<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>

{% endblock content %}
