{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Kurale&display=swap" rel="stylesheet">

  
<title>What The Blin</title>
</head>

<section id="navbar">
<div id="navbar-container">
  <nav class="navbar navbar-expand-lg fixed-top navbar-light py-1" data-spy="affix">
    <div class="container">
      <a href="{% url 'blog-home' %}" class="navbar-brand justify-left">
          <img src="{% static 'blog/images/wbrussia.jpg' %}" style="width: 40px;">
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">



          <li class="nav-item nav-link {% block nav_item_blog-search %}{% endblock nav_item_blog-search %}">
            <a href="{% url 'blog-search' %}" class="nav-link">Поиск еды</a>
          </li>

          <li class="nav-item nav-link {% block nav_item_life-blog-search %}{% endblock nav_item_life-blog-search %}">
            <a href="{% url 'life-blog-search' %}" class="nav-link">Жизнь в москве</a>
          </li>

          <li class="nav-item nav-link {% block nav_item_blog-map %}{% endblock nav_item_blog-map %}">
            <a href="{% url 'blog-map' %}" class="nav-link">Mарта</a>
          </li>

          <li class="nav-item dropdown nav-link {% block nav_item_classifieds %}{% endblock nav_item_classifieds %}">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Объявления</a>
            <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'ad-list' %}">Покупать и продавать</a>
              <a class="dropdown-item" href="{% url 'jobs-list' %}">Работы</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'faq' %}">ЧаВо и и условия использования</a>
            </div>
          </li>

          <li class="nav-item nav-link {% block nav_item_about %}{% endblock nav_item_about %}">
            <a href="{% url 'blog-about' %}" class="nav-link">Контакт</a>
          </li>

          {% if user.is_authenticated %}
          <li class="nav-item nav-link {% block nav_item_profile %}{% endblock nav_item_profile %}">
            <a href="{% url 'profile' %}" class="nav-link">Профиль
              <img src="{{ user.profile.image.url }}" class="img-fluid rounded-circle nav-profile" style="width:30px; height:30px;">
            </a>
          </li>

          <li class="nav-item nav-link {% block nav_item_blog-home %}{% endblock nav_item_blog-home %}">
            <a href="{% url 'blog-home' %}" class="stretched-link nav-language-flag">
              <img src="{% static 'blog/images/Russian flag.jpg' %}" class="rounded" style="width:25px;">
              RU
            </a>  
          </li>

          <li class="nav-item nav-link {% block nav_item_logout %}{% endblock nav_item_logout %}">
            <a href="{% url 'logout' %}" class="nav-link">Выход</i></a>
          </li>
          {% else %}
          <li class="nav-item nav-link {% block nav_item_login %}{% endblock nav_item_login %}">
            <a href="{% url 'login' %}" class="nav-link">Вход</i>
          </a>
          </li>
          <li class="nav-item nav-link {% block nav_item_register %}{% endblock nav_item_register %}">
            <a href="{% url 'register' %}" class="nav-link">Регистрация</a>
          </li>
          {% endif %}
        </ul>

      </div>
    </div>
  </nav>
</div>
</section>
<div class="nav-bottom-margin"></div>
<!-- Message pop-ups -->
{% for message in messages %}
    <div class="message alert alert-{{ message.tags }} m-0">
        {{ message }}
    </div>
{% endfor %}

<body class="my-0 pb-5">
<!-- Insert Content -->
{% block content %}{% endblock %}
</body>

<!-- FOOTER -->
<footer id="main-footer" class="text-center py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>Copyright &copy;
          <span id="year"></span> What the Blin?!</p>
      </div>
    </div>
  </div>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>


<script>
  // Get the current year for the copyright
  $('#year').text(new Date().getFullYear());

  // Configure Slider
  $('.carousel').carousel({
    interval: 6000,
    pause: 'hover'
  });
  
  $(window).scroll(function() {
      if ($(window).scrollTop() > 10) {
          $('.navbar').addClass('floatingNav');
      } else {
          $('.navbar').removeClass('floatingNav');
      }
  });

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

</html>