{% extends "blog/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<section id="comment-create-form">
<div class="container py-5">
  <div class="row">
    <div class="col">
      {% if LANGUAGE_CODE == "en" %}
        <h3 class="d-inline-block">
        {% trans "Post your comment for:" %}
          <a href="{% url 'post-detail' post.pk %}" style="color: #0275d8;">
            {{ post.title }}
          </a>
        </h3>
        <form action="" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          
          <!-- Captcha -->
          <div class="g-recaptcha" data-sitekey="6Le9ArYUAAAAANZ_UerCig5v9iUPrR8v0yIOnMS2" data-callback="verifyCaptcha"></div>
          <div id="g-recaptcha-error" class="form-group pb-3"></div>

          <div class="form-group">
            <button class="btn btn-primary" type="submit">
              {% trans "Post" %}</button>
          </div>
        </form>
      {% endif %}

      {% if LANGUAGE_CODE == "ru" %}
        {% if post.publish_translated_blog == False %}
          <div class="container text-center">
            <div class="row">
              <div class="col py-5">
                <img src="{% static 'blog/images/notranslatedyet.jpg' %}" class="rounded mt-3">
              </div>
            </div>
          </div>
        {% elif post.publish_translated_blog == True %}
          <h3 class="d-inline-block">
          {% trans "Post your comment for:" %}
            <a href="{% url 'post-detail' post.pk %}" style="color: #0275d8;">
              {{ post.title_russian }}
            </a>
          </h3>
          <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <!-- Captcha -->
            <div class="g-recaptcha" data-sitekey="6Le9ArYUAAAAANZ_UerCig5v9iUPrR8v0yIOnMS2" data-callback="verifyCaptcha"></div>
            <div id="g-recaptcha-error" class="form-group pb-3"></div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">
                {% trans "Post" %}</button>
            </div>
          </form>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
</section>

<!-- Google ReCaptchav2 -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
function submitUserForm() {
    var response = grecaptcha.getResponse();
    if(response.length == 0) {
        document.getElementById('g-recaptcha-error').innerHTML = '<span style="color:red;">This field is required.</span>';
        return false;
    }
    return true;
}
 
function verifyCaptcha() {
    document.getElementById('g-recaptcha-error').innerHTML = '';
}
</script>

{% endblock %}


