{% extends "blog/base.html" %}
{% load static %}
{% block content %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% trans "Moscow's greatest food blog and home to the city's greatest expat community. Search for cafes, desserts, restaurants, and more. Use filters to find exactly what you're in the mood for, with location pins for every blog. Learn about life in Moscow by following our weekly blogs!" as meta_tag %}

<head>
  <meta name="description" content={{meta_tag}}>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@whattheblin">
  <meta name="twitter:title" content="Check out this place in Moscow: {{post.title}}">
  <meta name="twitter:description" content="{{post.card_content|truncatechars:125}}">
  <meta name="twitter:creator" content="@Matt">
  <meta name="twitter:image"  content="https://www.whattheblin.com{{post.card_image.url}}">
  <meta name="twitter:domain" content="whattheblin.com">
</head>
<!-- In case someone forces the /ru/ URL for the post, before a translation is out -->
{% if LANGUAGE_CODE == 'ru' and post.publish_translated_blog == False %}
<div class="container text-center">
  <div class="row">
    <div class="col py-5">
       <img src="{% static 'blog/images/notranslatedyet.jpg' %}" class="rounded mt-3">
    </div>
  </div>
</div>
{% endif %}

<!-- Display the blog if the viewer is reading it in English, or there is a Russian translation available -->
{% if LANGUAGE_CODE == "en" or post.publish_translated_blog == True %}
  <!-- Blog Banner -->
  <section id="blog-banner">
    <div class="container-fluid d-none d-md-block pb-5" style="padding:0;">
      <div class="row-full">
        {% if post.translated_blog_link %}
          <a href="{{ post.translated_blog_link }}" class="stretched-link language-flag">
            <img src="{% static 'blog/images/Russian flag.jpg' %}" class="rounded mt-3" style="width:50px;">
            <p class="muted" style="font-size: 14px;">на русском?</p>
          </a>  
        {% endif %}
        <div class="banner-text d-none d-md-block">
          {% if LANGUAGE_CODE == "en" %}
            {{post.title}}
          {% elif LANGUAGE_CODE == "ru" %}
            {{post.title_russian}}
          {% endif %}
        {% if post.author.username == 'Matt' or 'Steph' %}
          <div>
            <img src="{{ post.author.profile.image.url }}" class="rounded-circle mt-3" style="width:55px;">
          </div>
        {% endif %}
        </div>
        <img src="{{ post.banner.url }}" class="img-fluid">
      </div>
    </div>
    <!-- Mobile View Blog Banner -->
    <div class="container-fluid pb-4 d-md-none d-sm-block" style="padding:0;">
      <div class="row-full">
        {% if post.translated_blog_link %}
          <a href="{{ post.translated_blog_link }}" class="stretched-link language-flag">
            <img src="{% static 'blog/images/Russian flag.jpg' %}" class="rounded mt-3" style="width:50px;">
            <p class="muted" style="font-size: 14px;">на русском</p>
          </a>  
        {% endif %}
        <div class="mobile-banner-text">
          {{post.title}}
          {% if post.author.username == 'Matt' or 'Steph' %}
            <div>
              <img src="{{ post.author.profile.image.url }}" class="rounded-circle mt-3" style="width:85px;">
            </div>
          {% endif %}
        </div>
        <img src="{{ post.mobile_banner.url }}" class="img-fluid">
      </div>
    </div>
  </section>



  <!-- TL;DR -->
  <section id="tldr" class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col text-center">
        <h3 class="tldr mb-4">tl;dr <i class="fas fa-hand-point-down"></i></h3>
        
      <!-- Accordion starts -->
        <div id="accordion" class="mb-2">
          <div class="card card-hover">
            <div class="card-header">
              <h5 class="mb-0">
                <div href="#collapse1" data-toggle="collapse" data-parent="#accordion">
                  <i class="fas fa-arrow-circle-down"></i>
                  {% trans "The Good" %}
                </div>
              </h5>
            </div>
            <div id="collapse1" class="collapse">
              <div class="card-body">
                {% if LANGUAGE_CODE == "en" %}
                  {{ post.the_good }}
                {% elif LANGUAGE_CODE == "ru" %}
                  {{ post.the_good_russian }}
                {% endif %}
              </div>
            </div>
          </div>

          <div class="card card-hover">
            <div class="card-header">
              <h5 class="mb-0">
                <div href="#collapse2" data-toggle="collapse" data-parent="#accordion">
                  <i class="fas fa-arrow-circle-down"></i>
                  {% trans "The Bad" %}
                </div>
              </h5>
            </div>
            <div id="collapse2" class="collapse">
              <div class="card-body">
                {% if LANGUAGE_CODE == "en" %}
                  {{ post.the_bad }}
                {% elif LANGUAGE_CODE == "ru" %}
                  {{ post.the_bad_russian }}
                {% endif %}
              </div>
            </div>
          </div>

        <!-- Score Breakdown -->
          <div class="card card-hover">
            <div class="card-header">
              <h5 class="mb-0">
                <div href="#collapse3" data-toggle="collapse" data-parent="#accordion">
                  <i class="fas fa-arrow-circle-down"></i> 
                  {% trans "Score Breakdown" %}
                </div>
              </h5>
            </div>
            <div id="collapse3" class="collapse">
              <div class="card-body">
                  <strong>
                    {% trans "Overall:" %}
                  </strong>
                {% if post.overall_rating.get.rating == 1 %}
                <span>
                  <i class="fas fa-star"></i>
                  
                  
                  
                  
                </span>
                {% elif post.overall_rating.get.rating == 1.5 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  
                  
                  
                </span>
                {% elif post.overall_rating.get.rating == 2 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  
                  
                  
                </span>
                {% elif post.overall_rating.get.rating == 2.5 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  
                  
                </span>
                {% elif post.overall_rating.get.rating == 3 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  
                  
                </span>
                {% elif post.overall_rating.get.rating == 3.5 %}
                <span> 
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  
                </span>
                {% elif post.overall_rating.get.rating == 4 %}
                <span> 
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  
                </span>
                {% elif post.overall_rating.get.rating == 4.5 %}
                <span> 
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </span>
                {% elif post.overall_rating.get.rating == 5 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </span>
                {% endif %}
                <div class="py-2"></div>
                
                {% trans "Taste:" %}
                {% if post.taste_rating.get.rating == 1 %}
                <span>
                  <i class="fas fa-star"></i>
                  
                  
                  
                  
                </span>
                {% elif post.taste_rating.get.rating == 1.5 %}
                <span> 
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  
                  
                  
                </span>
                {% elif post.taste_rating.get.rating == 2 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  
                  
                  
                </span>
                {% elif post.taste_rating.get.rating == 2.5 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  
                  
                </span>
                {% elif post.taste_rating.get.rating == 3 %}
                <span> 
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  
                  
                </span>
                {% elif post.taste_rating.get.rating == 3.5 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  
                </span>
                {% elif post.taste_rating.get.rating == 4 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  
                </span>
                {% elif post.taste_rating.get.rating == 4.5 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </span>
                {% elif post.taste_rating.get.rating == 5 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </span>
                {% endif %}
                <div class="py-2"></div>

                {% trans "Appearance:" %}
                {% if post.appearance_rating.get.rating == 1 %}
                <span>
                  <i class="fas fa-star"></i>
                  
                  
                  
                  
                </span>
                {% elif post.appearance_rating.get.rating == 1.5 %}
                <span> 
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  
                  
                  
                </span>
                {% elif post.appearance_rating.get.rating == 2 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  
                  
                  
                </span>
                {% elif post.appearance_rating.get.rating == 2.5 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  
                  
                </span>
                {% elif post.appearance_rating.get.rating == 3 %}
                <span> 
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  
                  
                </span>
                {% elif post.appearance_rating.get.rating == 3.5 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  
                  
                </span>
                {% elif post.appearance_rating.get.rating == 4 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  
                </span>
                {% elif post.appearance_rating.get.rating == 4.5 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </span>
                {% elif post.appearance_rating.get.rating == 5 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </span>
                {% endif %}
                <div class="py-2"></div>

                {% trans "Atmosphere:" %}
                {% if post.atmosphere_rating.get.rating == 1 %}
                <span>
                  <i class="fas fa-star"></i>
                  
                  
                  
                  
                </span>
                {% elif post.atmosphere_rating.get.rating == 1.5 %}
                <span> 
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  
                  
                  
                </span>
                {% elif post.atmosphere_rating.get.rating == 2 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  
                  
                  
                </span>
                {% elif post.atmosphere_rating.get.rating == 2.5 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  
                  
                </span>
                {% elif post.atmosphere_rating.get.rating == 3 %}
                <span> 
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  
                  
                </span>
                {% elif post.atmosphere_rating.get.rating == 3.5 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  
                </span>
                {% elif post.atmosphere_rating.get.rating == 4 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  
                </span>
                {% elif post.atmosphere_rating.get.rating == 4.5 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </span>
                {% elif post.atmosphere_rating.get.rating == 5 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </span>
                {% endif %}
                <div class="py-2"></div>

                {% trans "Price:" %}
                {% if post.price_rating.get.name == "Cheap" %}
                <span>
                  <i class="fas fa-ruble-sign"></i>
                  <i class="fas fa-ruble-sign unfilled"></i>
                  <i class="fas fa-ruble-sign unfilled"></i>
                  <i class="fas fa-ruble-sign unfilled"></i>
                </span>
                {% elif post.price_rating.get.name == "Average" %}
                <span> 
                  <i class="fas fa-ruble-sign"></i>
                  <i class="fas fa-ruble-sign"></i>
                  <i class="fas fa-ruble-sign unfilled"></i>
                  <i class="fas fa-ruble-sign unfilled"></i>
                </span>
                {% elif post.price_rating.get.name == "Expensive" %}
                <span>
                  <i class="fas fa-ruble-sign"></i>
                  <i class="fas fa-ruble-sign"></i>
                  <i class="fas fa-ruble-sign"></i>
                  <i class="fas fa-ruble-sign unfilled"></i>
                </span>
                {% elif post.price_rating.get.name == "Very Expensive" %}
                <span>
                  <i class="fas fa-ruble-sign"></i>
                  <i class="fas fa-ruble-sign"></i>
                  <i class="fas fa-ruble-sign"></i>
                  <i class="fas fa-ruble-sign"></i>
                </span>
                {% endif %}
                <div class="py-2"></div>

                {% trans "Service" %}
                {% if post.service_rating.get.rating == 1 %}
                <span>
                  <i class="fas fa-star"></i>
                  
                  
                  
                  
                </span>
                {% elif post.service_rating.get.rating == 1.5 %}
                <span> 
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  
                  
                  
                </span>
                {% elif post.service_rating.get.rating == 2 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  
                  
                  
                </span>
                {% elif post.service_rating.get.rating == 2.5 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  
                  
                </span>
                {% elif post.service_rating.get.rating == 3 %}
                <span> 
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  
                  
                </span>
                {% elif post.service_rating.get.rating == 3.5 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  
                </span>
                {% elif post.service_rating.get.rating == 4 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  
                </span>
                {% elif post.service_rating.get.rating == 4.5 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </span>
                {% elif post.service_rating.get.rating == 5 %}
                <span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </span>
                {% endif %}
                <div class="py-2"></div>

                
                <p class="card-text">
                {% trans "Special Features:" %}
                {% if LANGUAGE_CODE == 'en' %}
                  <em>{{ post.special_feature.get }}</em>
                {% elif LANGUAGE_CODE == 'ru' %}
                  <em>{{ post.special_feature_russian.get }}</em>
                {% endif %}
                </p>
                </em>
                </p>
              </div>
            </div>
          </div>
        </div>
      <!-- Accordion ends -->

        </div>
      </div>
    </div>
  </section>
  <!-- TL;DR ends -->

  <!-- Blog Start -->
  <section id="blog-detail-body">
  <div class="container pb-5">
    {% if LANGUAGE_CODE == "en" %}
      {{ post.paragraph_1|linebreaksbr }}
    {% elif LANGUAGE_CODE == "ru" %}
      {{ post.paragraph_1_russian|linebreaksbr }}
    {% endif %}
  </div>
  <div>
    <div class="container text-center pb-5">
      <div class="row">
        {% if post.snapshot_1 and post.snapshot_1_B %}
          <div class="col-sm col-md-6">
            <img src="{{ post.snapshot_1.url }}" class="img-fluid border rounded">
          </div>
          <div class="col-sm col-md-6">
            <img src="{{ post.snapshot_1_B.url }}" class="img-fluid border rounded">
          </div>
        {% elif post.snapshot_1 %}
          <div class="col">
            <img src="{{ post.snapshot_1.url }}" class="img-fluid rounded">
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div>
    <div class="container pb-5">
      {% if LANGUAGE_CODE == "en" %}
        {{ post.paragraph_2|linebreaksbr }}
      {% elif LANGUAGE_CODE == "ru" %}
        {{ post.paragraph_2_russian|linebreaksbr }}
      {% endif %}
    </div>

    <div class="container text-center pb-5">
      <div class="row">
        {% if post.snapshot_2 and post.snapshot_2_B %}
          <div class="col-sm col-md-6">
            <img src="{{ post.snapshot_2.url }}" class="img-fluid rounded">
          </div>
          <div class="col-sm col-md-6">
            <img src="{{ post.snapshot_2_B.url }}" class="img-fluid rounded">
          </div>
        {% elif post.snapshot_2 %}
          <div class="col">
            <img src="{{ post.snapshot_2.url }}" class="img-fluid rounded">
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div>
    <div class="container pb-5">
      {% if LANGUAGE_CODE == "en" %}
        {{ post.paragraph_3|linebreaksbr }}
      {% elif LANGUAGE_CODE == "ru" %}
        {{ post.paragraph_3_russian|linebreaksbr }}
      {% endif %}
    </div>

    <div class="container text-center pb-5">
      <div class="row">
        {% if post.snapshot_3 and post.snapshot_3_B %}
          <div class="col-sm col-md-6">
            <img src="{{ post.snapshot_3.url }}" class="img-fluid rounded">
          </div>
          <div class="col-sm col-md-6">
            <img src="{{ post.snapshot_3_B.url }}" class="img-fluid rounded">
          </div>
        {% elif post.snapshot_3 %}
          <div class="col">
            <img src="{{ post.snapshot_3.url }}" class="img-fluid rounded">
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div>
    <div class="container pb-5">
      {% if LANGUAGE_CODE == "en" %}
        {{ post.paragraph_4|linebreaksbr }}
      {% elif LANGUAGE_CODE == "ru" %}
        {{ post.paragraph_4_russian|linebreaksbr }}
      {% endif %}
    </div>

    <div class="container text-center pb-5">
      <div class="row">
        {% if post.snapshot_4 and post.snapshot_4_B %}
          <div class="col-sm col-md-6">
            <img src="{{ post.snapshot_4.url }}" class="img-fluid rounded">
          </div>
          <div class="col-sm col-md-6">
            <img src="{{ post.snapshot_4_B.url }}" class="img-fluid rounded">
          </div>
        {% elif post.snapshot_4 %}
          <div class="col">
            <img src="{{ post.snapshot_4.url }}" class="img-fluid rounded">
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div>
    <div class="container pb-5">
      {% if LANGUAGE_CODE == "en" %}
        {{ post.paragraph_5|linebreaksbr }}
      {% elif LANGUAGE_CODE == "ru" %}
        {{ post.paragraph_5_russian|linebreaksbr }}
      {% endif %}
    </div>

    <div class="container text-center pb-5">
      <div class="row">
        {% if post.snapshot_5 and post.snapshot_5_B %}
          <div class="col-sm col-md-6">
            <img src="{{ post.snapshot_5.url }}" class="img-fluid rounded">
          </div>
          <div class="col-sm col-md-6">
            <img src="{{ post.snapshot_5_B.url }}" class="img-fluid rounded">
          </div>
        {% elif post.snapshot_5 %}
          <div class="col">
            <img src="{{ post.snapshot_5.url }}" class="img-fluid rounded">
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Google Maps -->
  {% if post.google_map != 'Ex: https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.6833389633666!2d37.60298461590133!3d55.76400288055638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54bfc8bcfdc57%3A0x9fc4876420a8dffc!2sRestoran+Kafe+Pushkin%22!5e0!3m2!1sen!2sca!4v1559308017720!5m2!1sen!2sca' %}
    <div class="container text-center mt-5 pb-4">
      <div class="row">
        <div class="col map">
            <iframe src="{{ post.google_map }}" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  {% endif %}
  
  <hr>

  <!-- Twitter share button -->
  <div class="container text-center">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Check out this place in Moscow called: {{post.title}}! {{post.card_content|truncatechars:125}}" data-hashtags="Moscow #WhatTheBlin #MoscowEats #LifeinRussia" data-show-count="false">
      Tweet
    </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

  
  <!-- Comments Section Starts -->
  <section id="comments">
  <!-- Comment Cards -->
  {% if user_comments.count == 0 %}
    <div class="container text-center pt-3" style="margin-bottom: 100px;"">
      <div class="row pb-5">
        <div class="col text-center">
          {% if user.is_authenticated %}
            <a href="{% url 'post-comment' post.id %}" class="py-2 btn btn-sm btn-primary">
              {% trans "Add a Comment" %}
            </a>
          {% else %}
            <a href="{% url 'login' %}?next={{ request.path }}" class="py-2 btn btn-sm btn-primary">
              {% trans "<strong>Login</strong> to add a new comment" %}
            </a>
          {% endif %} 
        </div>
      </div>
    </div>
  {% else %}
    <h4 class="text-center pt-4">
      {% trans "Comments:" %} {{user_comments.count}}
    </h4>
    <div class="container text-center py-5">
    {% for comment in user_comments|slice:":50" %}
      <div class="card">
        <div class="card-body">
          <div class="col">
            <img src="{{ comment.author.profile.image.url }}" alt="" class="img-fluid rounded-circle comment-img">
            <div class="d-flex justify-content-center" style="margin-top: -10px;">
              <!--Facebook-->
              {% if comment.author.profile.facebook_link and comment.author.profile.facebook_link != 'https://www.facebook.com' %}
                <div class="p-1">
                  <a href="{{ comment.author.profile.facebook_link }}">
                    <i class="fab fa-facebook link-active"></i>
                  </a>
                </div>
              {% else %}
                <div class="p-1">
                  <i class="fab fa-facebook link-inactive"></i>
                </div>
              {% endif %}
              <!--Twitter-->
              {% if comment.author.profile.twitter_link and comment.author.profile.twitter_link != 'https://www.twitter.com' %}
              <div class="p-1">
                <a href="{{ comment.author.profile.twitter_link }}">
                  <i class="fab fa-twitter link-active"></i>
                </a>
              </div>
              {% else %}
              <div class="p-1">
                <i class="fab fa-twitter link-inactive"></i>
              </div>
              {% endif %}
              <!--Instagram-->
              {% if comment.author.profile.instagram_link and comment.author.profile.instagram_link != 'https://www.instagram.com' %}
              <div class="p-1">
                <a href="{{ comment.author.profile.instagram_link }}">
                  <i class="fab fa-instagram link-active"></i>
                </a>
              </div>
              {% else %}
              <div class="p-1">
                <i class="fab fa-instagram link-inactive"></i>
              </div>
              {% endif %}
            </div>
            <p class="mb-0 pb-2">{{comment.comment}}</p>
            <footer class="blockquote-footer text-end pb-2">
              <cite>{{ comment.author }}, {{ comment.date_posted|date:"m/d/Y" }}</cite>
            </footer>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

  <div class="container text-center py-2">
    <div class="row pb-5">
      <div class="col text-center">
        {% if user.is_authenticated %}
          <a href="{% url 'post-comment' post.id %}" class="py-2 btn btn-primary text-white">
            {% trans "Add a Comment" %}
          </a>
        {% else %}
          <a href="{% url 'login' %}?next={{ request.path }}" class="py-2 btn btn-primary text-white" style=font-size:0.8rem;>
            {% trans "<strong>Login</strong> to add a new comment" %}
          </a>
        {% endif %} 
      </div>
    </div>
  </div>

  {% endif %}
  </section>
{% endif %}


{% endblock content %}