{% extends "blog/base.html" %}
{% block nav_item_home %}active{% endblock nav_item_home %} 
{% block content %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% trans "Moscow's best food blog and home for Moscow expats. Find the best cafes, desserts, and restaurants in Moscow, with location pins for every blog. Learn about life in Russia by following our weekly blogs and podcast!" as meta_tag %}

<head>
  <meta name="description" content={{meta_tag}}>
  <title>The Best Cafes and Restaurants in Moscow</title>
</head>

<!-- Masonry -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="/static/blog/js/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

<!-- Flickity -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="/static/blog/js/flickity.pkgd.min.js"></script>
<!-- Flickity CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" href="static/blog/flickity.min.css" media="screen">
<!-- Infinite Scroll -->
<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
<script src="/static/blog/js/infinite-scroll.pkgd.min.js"></script>

<!-- Carousel -->
<section id="carousel-section-home">
<div class="main-carousel d-md-block d-none">
  {% for image in carousel_images %}
    {% if LANGUAGE_CODE == 'en' %}
      <div class="carousel-cell">
        <a href="{{ image.link }}" class="stretched-link">
          <img class="w-100" src="{{ image.image.url }}">
          {% if image.text_position == "Center" %}
            <div class="carousel-caption-center carousel-caption">
              <h4>
                {{ image.title }}
              </h4>
              <p>
                {{ image.caption }}
              </p>
            </div>
          {% elif image.text_position == "Left" %}
            <div class="carousel-caption-top-left carousel-caption">
              <h4>
                {{ image.title }}
              </h4>
              <p>
                {{ image.caption }}
              </p>
            </div>
          {% elif image.text_position == "Right" %}
            <div class="carousel-caption-top-right carousel-caption">
              <h4>
                {{ image.title }}
              </h4>
              <p>
                {{ image.caption }}
              </p>
            </div>
          {% endif %}
        </a>
      </div>
    {% elif LANGUAGE_CODE == 'ru' %}
      <div class="carousel-cell">
        <a href="{{ image.link }}" class="stretched-link">
          <img class="w-100" src="{{ image.image.url }}">
          {% if image.text_position == "Center" %}
            <div class="carousel-caption-center carousel-caption">
              <h4>
                {{ image.title_russian }}
              </h4>
              <p>
                {{ image.caption_russian }}
              </p>
            </div>
          {% elif image.text_position == "Left" %}
            <div class="carousel-caption-top-left carousel-caption">
              <h4>
                {{ image.title_russian }}
              </h4>
              <p>
                {{ image.caption_russian }}
              </p>
            </div>
          {% elif image.text_position == "Right" %}
            <div class="carousel-caption-top-right carousel-caption">
              <h4>
                {{ image.title_russian }}
              </h4>
              <p>
                {{ image.caption_russian }}
              </p>
            </div>
          {% endif %}
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>
</section>

<!-- Carousel (Mobile) -->
<section id="carousel-section-home">
<div class="main-carousel d-sm-block d-md-none">
  {% for image in carousel_images %}
    {% if LANGUAGE_CODE == 'en' %}
      <div class="carousel-cell">
        <a href="{{ image.link }}" class="stretched-link">
          <img class="w-100" src="{{ image.mobile_image.url }}">
          {% if image.text_position == "Center" %}
            <div class="carousel-caption-center carousel-caption">
              <h4>
                {{ image.title }}
              </h4>
              <p>
                {{ image.caption }}
              </p>
            </div>
          {% elif image.text_position == "Left" %}
            <div class="carousel-caption-top-left carousel-caption">
              <h4>
                {{ image.title }}
              </h4>
              <p>
                {{ image.caption }}
              </p>
            </div>
          {% elif image.text_position == "Right" %}
            <div class="carousel-caption-top-right carousel-caption">
              <h4>
                {{ image.title }}
              </h4>
              <p>
                {{ image.caption }}
              </p>
            </div>
          {% endif %}
        </a>
      </div>
    {% elif LANGUAGE_CODE == 'ru' %}
      <div class="carousel-cell">
        <a href="{{ image.link }}" class="stretched-link">
          <img class="w-100" src="{{ image.mobile_image.url }}">
          {% if image.text_position == "Center" %}
            <div class="carousel-caption-center carousel-caption">
              <h4>
                {{ image.title_russian }}
              </h4>
              <p>
                {{ image.caption_russian }}
              </p>
            </div>
          {% elif image.text_position == "Left" %}
            <div class="carousel-caption-top-left carousel-caption">
              <h4>
                {{ image.title_russian }}
              </h4>
              <p>
                {{ image.caption_russian }}
              </p>
            </div>
          {% elif image.text_position == "Right" %}
            <div class="carousel-caption-top-right carousel-caption">
              <h4>
                {{ image.title_russian }}
              </h4>
              <p>
                {{ image.caption_russian }}
              </p>
            </div>
          {% endif %}
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>
</section>

<!-- HOME ICON SECTION -->
<section id="home-icons" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <a href="{% url 'blog-search' %}" class="nav-link">
        <i class="fas fa-coffee fa-2x mb-2"></i>
        <h5>{% trans "Cafes & Restaurants" %}</h5>
        <p>{% trans "Browse a variety of cafes, coffee houses, dessert cafes, and restaurants." %}</p>
        </a>
      </div>
      <div class="col-sm-4 text-center">
        <a href="{% url 'blog-search' %}" class="nav-link">
        <i class="fas fa-star fa-2x mb-2"></i>
        <i class="fas fa-star fa-2x mb-2"></i>
        <i class="fas fa-star-half-alt fa-2x mb-2"></i>
        <h5>{% trans "Search by Features" %}</h5>
        <p>{% trans "Click to Search destinations by ratings, nearest subway station, unique features, and more." %}</p>
        </a>
      </div>
      <div class="col-sm-4 text-center">
        <a href="{% url 'blog-map' %}" class="nav-link">
        <i class="fas fa-map-marked-alt fa-2x mb-2"></i>
        <h5>{% trans "View Locations" %}</h5>
        <p>{% trans "Every review contains a location pin. You can also click here to browse the Tasty Map." %}</p>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Blog Cards -->
{% if LANGUAGE_CODE == 'en' %}
  <div class="container-fluid x-padding">
    <div class="grid">
      <div class="grid-sizer col-xs col-md-6 col-lg-3"></div>
      {% for post in posts %}
        <div class="grid-item col-xs col-md-6 col-lg-3">
          <a href="{% url 'post-detail' post.id %}" class="card stretched-link card-hover">
          <img src="{{ post.card_image.url }}" alt="" class="card-img-top">
          <span class="badge badge-pill notify-badge badge-light">{{ post.store_type.get }}</span>
          <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            Overall: 
            {% if post.overall_rating.get.rating == 1.0 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 1.5 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 2.0 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 2.5 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 3.0 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 3.5 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 4.0 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 4.5 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </span>
            {% elif post.overall_rating.get.rating == 5.0 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
            {% endif %}
            <div>

            Price:
            {% if post.price_rating.get.name == "Cheap" %}
            <span>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
            </span>
            {% elif post.price_rating.get.name == "Average" %}
            <span> 
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
            </span>
            {% elif post.price_rating.get.name == "Expensive" %}
            <span>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
            </span>
            {% elif post.price_rating.get.name == "Very Expensive" %}
            <span>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
            </span>
            {% endif %}
            <div></div>
            Nearest Station: <em>{{ post.nearest_station.get }}</em>
            </div>
            <div class="text-right pr-0">
              <i class="fas fa-comments"></i>
              <span>
                {{ post.comment_set.all.count }}
              </span>
            </div>
            <hr>
            <p class="card-text">{{ post.card_content }}</p>
            <hr>
            <footer class="blockquote-footer text-center">
              <cite title="Source Title">Posted on {{ post.date_posted|date:"m/d/Y" }}</cite>
            </footer>
          </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

<!-- Russian Cards -->
{% if LANGUAGE_CODE == 'ru' %}
  <div class="container-fluid x-padding">
    <div class="grid">
      <div class="grid-sizer col-xs col-md-6 col-lg-3"></div>
      {% for post in posts %}
        <div class="grid-item col-xs col-md-6 col-lg-3">
          <a href="{% url 'post-detail' post.id %}" class="card stretched-link card-hover">
          <img src="{{ post.card_image.url }}" alt="" class="card-img-top">
          <span class="badge badge-pill notify-badge badge-light">{{ post.store_type_russian.get }}</span>
          <div class="card-body">
            <h4 class="card-title">{{ post.title_russian }}</h4>
            {% if post.overall_rating.get.rating == 1.0 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
            </span>
            {% elif post.overall_rating.get.rating == 1.5 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </span>
            {% elif post.overall_rating.get.rating == 2.0 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
            {% elif post.overall_rating.get.rating == 2.5 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </span>
            {% elif post.overall_rating.get.rating == 3.0 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
            {% elif post.overall_rating.get.rating == 3.5 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </span>
            {% elif post.overall_rating.get.rating == 4.0 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
            {% elif post.overall_rating.get.rating == 4.5 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </span>
            {% elif post.overall_rating.get.rating == 5.0 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
            {% endif %}
            <div>

            Price:
            {% if post.price_rating.get.name == "Cheap" %}
            <span>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
            </span>
            {% elif post.price_rating.get.name == "Average" %}
            <span> 
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
            </span>
            {% elif post.price_rating.get.name == "Expensive" %}
            <span>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
            </span>
            {% elif post.price_rating.get.name == "Very Expensive" %}
            <span>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
            </span>
            {% endif %}
            <div></div>
            Nearest Station: <em>{{ post.nearest_station_russian.get }}</em>
            </div>
            <div class="text-right pr-0">
              <i class="fas fa-comments"></i>
              <span>
                {{ post.comment_set.all.count }}
              </span>
            </div>
            <hr>
            <p class="card-text">{{ post.card_content }}</p>
            <hr>
            <footer class="blockquote-footer text-center">
              <cite title="Source Title">Posted on {{ post.date_posted|date:"m/d/Y" }}</cite>
            </footer>
          </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

<!-- End of Blogs -->
<div class="page-load-status">
  <hr>
  <p class="infinite-scroll-last">End of Blogs</p>
</div>

<!-- Pagination -->
<section id="paginate-buttons">
  <div class="pb-5">
    {% if posts.has_next %}
      <a class="pagination__next" href="?page={{ posts.next_page_number }}"></a>
    {% endif %}
  </div>
</section>

<!-- Masonry Script -->
<script>
  // init Masonry
  var $grid = $('.grid').masonry({
    itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
    columnWidth: '.grid-sizer',
    percentPosition: true,
  });
  // layout Masonry after each image loads
  $grid.imagesLoaded().progress( function() {
    $grid.masonry('layout');
  });
</script>

<!-- Flickity -->
<script>
  $('.main-carousel').flickity({
    // options
    cellAlign: 'left',
    contain: true,
    autoPlay: 3000,
    selectedAttraction: 0.01,
    friction: 0.15,
    prevNextButtons: false,
    wrapAround: true,
    pageDots: false
  });
</script>

<!-- Infinite Scroll -->
<script>
  // get Masonry instance
  var msnry = $grid.data('masonry');
  // init Infinite Scroll
  $grid.infiniteScroll({
    // Infinite Scroll options...
    append: '.grid-item',
    outlayer: msnry,
    path: '.pagination__next',
    status: '.page-load-status'
  });
</script>

{% endblock content %}