{% extends "blog/base.html" %}
{% block nav_item_home %}active{% endblock nav_item_home %} 
{% block content %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% trans "Moscow's best food blog and home for Moscow expats. Find the best cafes, desserts, and restaurants in Moscow, with location pins for every blog. Learn about life in Russia by following our weekly blogs and podcast!" as meta_tag %}

<head>
  <meta name="description" content={{meta_tag}}>
  <title>The Best Cafes and Restaurants in Moscow</title>
</head>

<!-- Masonry -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="/django_project/blog/static/blog/js/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>



<section id="carousel-section" class="d-md-block d-none">
  <div class="container-fluid px-0">
    <div id="foodsearch-banner" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#foodsearch-banner" data-slide-to="0" class="active"></li>
          <li data-target="#foodsearch-banner" data-slide-to="1"></li>
          <li data-target="#foodsearch-banner" data-slide-to="2"></li>
        </ol>
      <div class="carousel-inner">
          <div class="carousel-item active">
            {% for image in carousel_images %}
              {% if image.slide_number == 'First' %}
                {% if LANGUAGE_CODE == 'en' %}
                  <a href="{{ image.link }}" class="stretched-link">
                    <img class="d-block w-100" src="{{ image.image.url }}" alt="First slide">
                    <div class="carousel-caption carousel-caption-center">
                      <h4>
                        {{ image.title }}
                      </h4>
                      <p>
                        {{ image.caption }}
                      </p>
                    </div>
                  </a>
                {% elif LANGUAGE_CODE == 'ru' %}
                  <a href="{{ image.link_russian }}" class="stretched-link">
                    <img class="d-block w-100" src="{{ image.image.url }}" alt="First slide">
                    <div class="carousel-caption carousel-caption-center">
                      <h4>
                        {{ image.title_russian }}
                      </h4>
                      <p>
                        {{ image.caption_russian }}
                      </p>
                    </div>
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="carousel-item">
            {% for image in carousel_images %}
              {% if image.slide_number == 'Second' %}
                {% if LANGUAGE_CODE == 'en' %}
                  <a href="{{ image.link }}" class="stretched-link">
                    <img class="d-block w-100" src="{{ image.image.url }}" alt="First slide">
                    <div class="carousel-caption carousel-caption-top-left">
                      <h4>
                        {{ image.title }}
                      </h4>
                      <p>
                        {{ image.caption }}
                      </p>
                    </div>
                  </a>
                {% elif LANGUAGE_CODE == 'ru' %}
                  <a href="{{ image.link_russian }}" class="stretched-link">
                    <img class="d-block w-100" src="{{ image.image.url }}" alt="First slide">
                    <div class="carousel-caption carousel-caption-top-left">
                      <h4>
                        {{ image.title_russian }}
                      </h4>
                      <p>
                        {{ image.caption_russian }}
                      </p>
                    </div>
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="carousel-item">
            {% for image in carousel_images %}
              {% if image.slide_number == 'Third' %}
                {% if LANGUAGE_CODE == 'en' %}
                  <a href="{{ image.link }}" class="stretched-link">
                    <img class="d-block w-100" src="{{ image.image.url }}" alt="First slide">
                    <div class="carousel-caption carousel-caption-top-right">
                      <h4>
                        {{ image.title }}
                      </h4>
                      <p>
                        {{ image.caption }}
                      </p>
                    </div>
                  </a>
                {% elif LANGUAGE_CODE == 'ru' %}
                  <a href="{{ image.link_russian }}" class="stretched-link">
                    <img class="d-block w-100" src="{{ image.image.url }}" alt="First slide">
                    <div class="carousel-caption carousel-caption-top-right">
                      <h4>
                        {{ image.title_russian }}
                      </h4>
                      <p>
                        {{ image.caption_russian }}
                      </p>
                    </div>
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      <a class="carousel-control-prev" href="#foodsearch-banner" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#foodsearch-banner" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>

<!-- Mobile View-->
<section id="carousel-section" class="d-md-none d-sm-block">
  <div class="container-fluid px-0">
    <div id="foodsearch-banner-mobile" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#foodsearch-banner-mobile" data-slide-to="0" class="active"></li>
          <li data-target="#foodsearch-banner-mobile" data-slide-to="1"></li>
          <li data-target="#foodsearch-banner-mobile" data-slide-to="2"></li>
        </ol>
      <div class="carousel-inner">
          <div class="carousel-item active">
            {% for image in carousel_images %}
              {% if image.slide_number == 'First' %}
                {% if LANGUAGE_CODE == 'en' %}
                  <a href="{{ image.link }}" class="stretched-link">
                    <img class="d-block w-100" src="{{ image.mobile_image.url }}" alt="First slide">
                    <div class="carousel-caption carousel-caption-center">
                      <h4 class="mobile-h4">
                        {{ image.title }}
                      </h4>
                      <p class="mobile-p">
                        {{ image.caption }}
                      </p>
                    </div>
                  </a>
                {% elif LANGUAGE_CODE == 'ru' %}
                  <a href="{{ image.link_russian }}" class="stretched-link">
                    <img class="d-block w-100" src="{{ image.mobile_image.url }}" alt="First slide">
                    <div class="carousel-caption carousel-caption-center">
                      <h4 class="mobile-h4">
                        {{ image.title_russian }}
                      </h4>
                      <p class="mobile-p">
                        {{ image.caption_russian }}
                      </p>
                    </div>
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="carousel-item">
            {% for image in carousel_images %}
              {% if image.slide_number == 'Second' %}
                {% if LANGUAGE_CODE == 'en' %}
                  <a href="{{ image.link }}" class="stretched-link">
                    <img class="d-block w-100" src="{{ image.mobile_image.url }}" alt="First slide">
                    <div class="carousel-caption carousel-caption-top-left">
                      <h4 class="mobile-h4">
                        {{ image.title }}
                      </h4>
                      <p class="mobile-p">
                        {{ image.caption }}
                      </p>
                    </div>
                  </a>
                {% elif LANGUAGE_CODE == 'ru' %}
                  <a href="{{ image.link_russian }}" class="stretched-link">
                    <img class="d-block w-100" src="{{ image.mobile_image.url }}" alt="First slide">
                    <div class="carousel-caption carousel-caption-top-left">
                      <h4 class="mobile-h4">
                        {{ image.title_russian }}
                      </h4>
                      <p class="mobile-p">
                        {{ image.caption_russian }}
                      </p>
                    </div>
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="carousel-item">
            {% for image in carousel_images %}
              {% if image.slide_number == 'Third' %}
                {% if LANGUAGE_CODE == 'en' %}
                  <a href="{{ image.link }}" class="stretched-link">
                    <img class="d-block w-100" src="{{ image.mobile_image.url }}" alt="First slide">
                    <div class="carousel-caption carousel-caption-top-right">
                      <h4 class="mobile-h4">
                        {{ image.title }}
                      </h4>
                      <p class="mobile-p">
                        {{ image.caption }}
                      </p>
                    </div>
                  </a>
                {% elif LANGUAGE_CODE == 'ru' %}
                  <a href="{{ image.link_russian }}" class="stretched-link">
                    <img class="d-block w-100" src="{{ image.mobile_image.url }}" alt="First slide">
                    <div class="carousel-caption carousel-caption-top-right">
                      <h4 class="mobile-h4">
                        {{ image.title_russian }}
                      </h4>
                      <p class="mobile-p">
                        {{ image.caption_russian }}
                      </p>
                    </div>
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      <a class="carousel-control-prev" href="#foodsearch-banner-mobile" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#foodsearch-banner-mobile" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>

<!-- HOME ICON SECTION -->
<section id="home-icons" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <a href="{% url 'blog-search' %}" class="nav-link">
        <i class="fas fa-coffee fa-2x mb-2"></i>
        <h5>{% trans "Cafes & Restaurants" %}</h5>
        <p>{% trans "Browse a variety of cafes, coffee houses, dessert cafes, and restaurants." %}</p>
        </a>
      </div>
      <div class="col-sm-4 text-center">
        <a href="{% url 'blog-search' %}" class="nav-link">
        <i class="fas fa-star fa-2x mb-2"></i>
        <i class="fas fa-star fa-2x mb-2"></i>
        <i class="fas fa-star-half-alt fa-2x mb-2"></i>
        <h5>{% trans "Search by Features" %}</h5>
        <p>{% trans "Click to Search destinations by ratings, nearest subway station, unique features, and more." %}</p>
        </a>
      </div>
      <div class="col-sm-4 text-center">
        <a href="{% url 'blog-map' %}" class="nav-link">
        <i class="fas fa-map-marked-alt fa-2x mb-2"></i>
        <h5>{% trans "View Locations" %}</h5>
        <p>{% trans "Every review contains a location pin. You can also click here to browse the Tasty Map." %}</p>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Blog Cards -->
{% if LANGUAGE_CODE == 'en' %}
  <div class="container-fluid" style="width: 90%;">
    <div class="grid">
      <div class="grid-sizer col-xs col-md-6 col-lg-3"></div>
      {% for post in posts %}
        <div class="grid-item col-xs col-md-6 col-lg-3">
          <a href="{% url 'post-detail' post.id %}" class="card stretched-link card-hover">
          <img src="{{ post.card_image.url }}" alt="" class="card-img-top">
          <span class="badge badge-pill notify-badge badge-light">{{ post.store_type.get }}</span>
          <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            {% if post.overall_rating.get.rating == 1.0 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
            </span>
            {% elif post.overall_rating.get.rating == 1.5 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </span>
            {% elif post.overall_rating.get.rating == 2.0 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
            {% elif post.overall_rating.get.rating == 2.5 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </span>
            {% elif post.overall_rating.get.rating == 3.0 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
            {% elif post.overall_rating.get.rating == 3.5 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </span>
            {% elif post.overall_rating.get.rating == 4.0 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
            {% elif post.overall_rating.get.rating == 4.5 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </span>
            {% elif post.overall_rating.get.rating == 5.0 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
            {% endif %}
            <div>

            Price:
            {% if post.price_rating.get.name == "Cheap" %}
            <span>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
            </span>
            {% elif post.price_rating.get.name == "Average" %}
            <span> 
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
            </span>
            {% elif post.price_rating.get.name == "Expensive" %}
            <span>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
            </span>
            {% elif post.price_rating.get.name == "Very Expensive" %}
            <span>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
            </span>
            {% endif %}
            <div></div>
            Nearest Station: <em>{{ post.nearest_station.get }}</em>
            </div>
            <div class="text-right pr-0">
              <i class="fas fa-comments"></i>
              <span>
                {{ post.comment_set.all.count }}
              </span>
            </div>
            <hr>
            <p class="card-text">{{ post.card_content }}</p>
            <hr>
            <footer class="blockquote-footer text-center">
              <cite title="Source Title">Posted on {{ post.date_posted|date:"m/d/Y" }}</cite>
            </footer>
          </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

<!-- Russian Cards -->
{% if LANGUAGE_CODE == 'ru' %}
  <div class="container-fluid" style="width: 90%;">
    <div class="grid">
      <div class="grid-sizer col-xs col-md-6 col-lg-3"></div>
      {% for post in posts %}
        <div class="grid-item col-xs col-md-6 col-lg-3">
          <a href="{% url 'post-detail' post.id %}" class="card stretched-link card-hover">
          <img src="{{ post.card_image.url }}" alt="" class="card-img-top">
          <span class="badge badge-pill notify-badge badge-light">{{ post.store_type_russian.get }}</span>
          <div class="card-body">
            <h4 class="card-title">{{ post.title_russian }}</h4>
            {% if post.overall_rating.get.rating == 1.0 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
            </span>
            {% elif post.overall_rating.get.rating == 1.5 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </span>
            {% elif post.overall_rating.get.rating == 2.0 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
            {% elif post.overall_rating.get.rating == 2.5 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </span>
            {% elif post.overall_rating.get.rating == 3.0 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
            {% elif post.overall_rating.get.rating == 3.5 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </span>
            {% elif post.overall_rating.get.rating == 4.0 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
            {% elif post.overall_rating.get.rating == 4.5 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </span>
            {% elif post.overall_rating.get.rating == 5.0 %}
            <span>Overall: 
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
            {% endif %}
            <div>

            Price:
            {% if post.price_rating.get.name == "Cheap" %}
            <span>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
            </span>
            {% elif post.price_rating.get.name == "Average" %}
            <span> 
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
            </span>
            {% elif post.price_rating.get.name == "Expensive" %}
            <span>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
            </span>
            {% elif post.price_rating.get.name == "Very Expensive" %}
            <span>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
            </span>
            {% endif %}
            <div></div>
            Nearest Station: <em>{{ post.nearest_station_russian.get }}</em>
            </div>
            <div class="text-right pr-0">
              <i class="fas fa-comments"></i>
              <span>
                {{ post.comment_set.all.count }}
              </span>
            </div>
            <hr>
            <p class="card-text">{{ post.card_content }}</p>
            <hr>
            <footer class="blockquote-footer text-center">
              <cite title="Source Title">Posted on {{ post.date_posted|date:"m/d/Y" }}</cite>
            </footer>
          </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

<section id="paginate-buttons" class="container text-center my-5">
  <div class="row">
    <div class="col">
      <!-- Paginate Buttons -->
      {% if posts.paginator.num_pages > 1 %}
        <div class="container pb-5 d-inline-block">
          {% if posts.has_previous %}
            <a class="btn btn-sm btn-outline-dark" href="?page={{ posts.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
          {% endif %}

          {% for num in posts.paginator.page_range %}
            {% if posts.number == num %}
              {% if posts.paginator.num_pages != 1 %}
                <a class="btn btn-sm btn-dark" href="?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}

          {% if posts.has_next %}
            <a class="btn btn-sm btn-outline-dark" href="?page={{ posts.next_page_number }}"><i class="fas fa-angle-right"></i></a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</section>

<!-- Masonry Script -->
<script>
  // init Masonry
  var $grid = $('.grid').masonry({
    itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
    columnWidth: '.grid-sizer',
    percentPosition: true,
  });
  // layout Masonry after each image loads
  $grid.imagesLoaded().progress( function() {
    $grid.masonry('layout');
  });
</script>

{% endblock content %}