{% extends "blog/base.html" %}
{% block nav_item_life-blog-search %}active{% endblock nav_item_life-blog-search %} 
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% trans "Learn about daily life in Russia, from the perspective of two Canadians who decided to move to Moscow!" as meta_tag %}

<head>
  <meta name="description" content={{meta_tag}}>
</head>

<section id="carousel-section">
  <div class="container-fluid px-0">
    <div id="foodsearch-banner" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators d-none">
          <li data-target="#foodsearch-banner" data-slide-to="0" class="active"></li>
          <li data-target="#foodsearch-banner" data-slide-to="1"></li>
          <li data-target="#foodsearch-banner" data-slide-to="2"></li>
        </ol>
      <div class="carousel-inner">
          <div class="carousel-item active">
            {% for image in carousel_images %}
              {% if image.slide_number == 'First' %}
                {% if LANGUAGE_CODE == 'en' %}
                  <a href="{{ image.link }}" class="stretched-link">
                    <img class="d-block w-100" src="{{ image.image.url }}" alt="First slide">
                    <div class="carousel-caption carousel-caption-center d-lg-block d-none">
                      <h4>
                        {{ image.title }}
                      </h4>
                      <p>
                        {{ image.caption }}
                      </p>
                    </div>
                  </a>
                {% elif LANGUAGE_CODE == 'ru' %}
                  <a href="{{ image.link_russian }}" class="stretched-link">
                    <img class="d-block w-100" src="{{ image.image.url }}" alt="First slide">
                    <div class="carousel-caption carousel-caption-center d-lg-block d-none">
                      <h4>
                        {{ image.title_russian }}
                      </h4>
                      <p>
                        {{ image.caption_russian }}
                      </p>
                    </div>
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="carousel-item">
            {% for image in carousel_images %}
              {% if image.slide_number == 'Second' %}
                {% if LANGUAGE_CODE == 'en' %}
                  <a href="{{ image.link }}" class="stretched-link">
                    <img class="d-block w-100" src="{{ image.image.url }}" alt="First slide">
                    <div class="carousel-caption carousel-caption-center d-lg-block d-none">
                      <h4>
                        {{ image.title }}
                      </h4>
                      <p>
                        {{ image.caption }}
                      </p>
                    </div>
                  </a>
                {% elif LANGUAGE_CODE == 'ru' %}
                  <a href="{{ image.link_russian }}" class="stretched-link">
                    <img class="d-block w-100" src="{{ image.image.url }}" alt="First slide">
                    <div class="carousel-caption carousel-caption-center d-lg-block d-none">
                      <h4>
                        {{ image.title_russian }}
                      </h4>
                      <p>
                        {{ image.caption_russian }}
                      </p>
                    </div>
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="carousel-item">
            {% for image in carousel_images %}
              {% if image.slide_number == 'Third' %}
                {% if LANGUAGE_CODE == 'en' %}
                  <a href="{{ image.link }}" class="stretched-link">
                    <img class="d-block w-100" src="{{ image.image.url }}" alt="First slide">
                    <div class="carousel-caption carousel-caption-center d-lg-block d-none">
                      <h4>
                        {{ image.title }}
                      </h4>
                      <p>
                        {{ image.caption }}
                      </p>
                    </div>
                  </a>
                {% elif LANGUAGE_CODE == 'ru' %}
                  <a href="{{ image.link_russian }}" class="stretched-link">
                    <img class="d-block w-100" src="{{ image.image.url }}" alt="First slide">
                    <div class="carousel-caption carousel-caption-center d-lg-block d-none">
                      <h4>
                        {{ image.title_russian }}
                      </h4>
                      <p>
                        {{ image.caption_russian }}
                      </p>
                    </div>
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      <a class="carousel-control-prev d-none" href="#foodsearch-banner" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next d-none" href="#foodsearch-banner" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>

<!-- Standard view -->
<!-- Search Section Starts -->
<section id="search-fields">
  <div class="w-100 search-sec-life-blog d-md-block d-none">
    <form method="GET" action=".">
      <div class="container">
        <!-- Search by title: -->
        <div class="row">
          <div class="col-md-3">
            <div class="form-group my-auto">
                <div class="input-group">
                  <input class="form-control form-control-sm border-right-0 border" type="search" name="keyword" placeholder="Keyword..."
                  value={% if keyword_query %}
                      {{keyword_query}}
                    {% else %}
                      ""
                    {% endif %}/>
                    <span class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-search"></i>
                      </div>
                    </span> 
                </div>
            </div>
          </div>
          
          <!-- Search by blog type -->
          <div class="col-3 my-auto">
            <select id="blog_category" class="custom-select custom-select-sm" name="blog_category">
              <option selected>
                {% if blog_category_query %}
                  {{ blog_category_query }}
                {% else %}
                  {% trans "Category..." %}
                {% endif %}
              </option>
              {% if LANGUAGE_CODE == "en" %}
                {% for type in blog_category %}
                  <option value="{{ type }}">
                    {{ type }}
                  </option>
                {% endfor %}
              {% elif LANGUAGE_CODE == "ru" %}
                {% for type in blog_category_russian %}
                  <option value="{{ type }}">
                    {{ type }}
                  </option>
                {% endfor %}
              {% endif %}
            </select>
          </div>

          <!-- Search by tags -->
          <div class="col-3 my-auto">
            <select id="tags" class="custom-select custom-select-sm" name="tags">
              <option selected>
                {% if tags_query %}
                  {{ tags_query }}
                {% else %}
                  {% trans "Tags..." %}
                {% endif %}
              </option>
              {% if LANGUAGE_CODE == "en" %}
                {% for tag in tags %}
                  <option value="{{ tag }}">
                    {{ tag }}
                  </option>
                {% endfor %}
              {% elif LANGUAGE_CODE == "ru" %}
                {% for tag in tags_russian %}
                  <option value="{{ tag }}">
                    {{ tag }}
                  </option>
                {% endfor %}
              {% endif %}
            </select>
          </div>
          <div class="col-md-3 text-center my-auto">
            <button type="submit" class="btn btn-sm btn-dark" value="Filter">
              {% trans "Search" %}
            </button>
            <span class="pl-2 my-auto">
              <a href="{% url 'life-blog-search' %}" class="btn btn-sm btn-danger justify-content-center align-items-center" role="button">
                <i class="fas fa-history primary"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<!-- Mobile View -->
<form method="GET" action="." class="d-md-none d-sm-block pt-3">
  <div class="container">
    <div class="row">
    <!-- Search by Title -->
      <div class="col-12 text-center">
        <div class="input-group">
          <input class="form-control form-control-sm border-right-0 border" type="search" name="keyword" placeholder="Keyword..." />
            <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                <i class="fa fa-search"></i>
              </div>
            </span> 
        </div>
      </div>
    <!-- Search by blog type -->
      <div class="col-12">
        <select id="blog_category" class="custom-select custom-select-sm" name="blog_category">
          <option selected>
            {% trans "Category..." %}
          </option>
          {% if LANGUAGE_CODE == "en" %}
            {% for type in blog_category %}
              <option value="{{ type }}">
                {{ type }}
              </option>
            {% endfor %}
          {% elif LANGUAGE_CODE == "ru" %}
            {% for type in blog_category_russian %}
              <option value="{{ type }}">
                {{ type }}
              </option>
            {% endfor %}
          {% endif %}
        </select>
      </div>

      <!-- Search by tags -->
      <div class="col-12">
        <select id="tags" class="custom-select custom-select-sm" name="tags">
          <option selected>
            {% trans "Tags..." %}
          </option>
          {% if LANGUAGE_CODE == "en" %}
            {% for tag in tags %}
              <option value="{{ tag }}">
                {{ tag }}
              </option>
            {% endfor %}
          {% elif LANGUAGE_CODE == "ru" %}
            {% for tag in tags_russian %}
              <option value="{{ tag }}">
                {{ tag }}
              </option>
            {% endfor %}
          {% endif %}
        </select>
      </div>
      <div class="col-md-3 text-center pt-3">
        <button type="submit" class="btn btn-sm  btn-dark" value="Filter">
          {% trans "Search" %}
        </button>
        <span class="pl-2">
          <a href="{% url 'life-blog-search' %}" class="btn btn-sm btn-danger" role="button">
            <i class="fas fa-history primary"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
</form>


<br>

<!-- Search result text for ENGLISH users -->
{% if LANGUAGE_CODE == "en" %}

  <!-- Outcome #1: Default view upon first page load -->
  {% if tags_query == None and blog_category_query == None and keyword_query == '' %}
    <div class="container text-center">
      {% if queryset.paginator.count == 0 %}
        <b>(0) Blogs</b>
      {% elif queryset.paginator.count == 1 %}
        <b>(1) Blog</b>
      {% elif queryset.paginator.count > 1 %}
        <b>({{ queryset.paginator.count }}) Blogs</b>
      {% endif %}
      <hr>
    </div>
      
  <!-- Outcome #2: A user presses search, but without any criteria selected -->
  {% elif tags_query == 'Tags...' and blog_category_query == 'Category...' and keyword_query == '' %}
    <div class="container text-center">
      {% if queryset.paginator.count == 0 %}
        <b>(0) Blogs</b>
      {% elif queryset.paginator.count == 1 %}
        <b>(1) Blog</b>
      {% elif queryset.paginator.count > 1 %}
        <b>({{ queryset.paginator.count }}) Blogs</b>
      {% endif %}
      <hr>
    </div>

    <!-- Outcome #3: A user searches with some combination of criteria selected-->
  {% else %}
    <div class="container text-center">
      {% if queryset.paginator.count == 0 %}
        <b>(0) Blogs</b>
      {% elif queryset.paginator.count == 1 %}
        <b>(1) Blog</b>
      {% elif queryset.paginator.count > 1 %}
        <b>({{ queryset.paginator.count }}) Blogs</b>
      {% endif %}
      <hr>
    </div>

    <!-- If there are no results, show this additional container -->
    {% if queryset.paginator.count == 0 %}
      <section id="no-search-results">
        <div class="container text-center pt-3">
          <h5>
            {% trans "Looking for something? Tell us on Twitter or Instagram, and we'll blog about it for you!" %}
          </h5>
        </div>
        <div class="row py-5">
          <div class="col-3 d-none d-md-block">
            <!-- empty spacing -->
          </div>
          <div class="col-md-3 col-6 text-center">
            <div>
              <img class="img-fluid rounded-circle" src="{% static 'blog/images/mandu.png' %}" style="width: 150px;">
            </div>
            <div class="d-flex justify-content-center py-2 text-right">
              <div class="p-1">
                <a href="https://www.twitter.com/whattheblin">
                  <i class="fab fa-twitter" style="font-size: 2rem;"></i>
                </a>
              </div>
              <div class="p-1">
                <a href="https://www.instagram.com/theblinmachine">
                  <i class="fab fa-instagram" style="font-size: 2rem;"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-6 text-center">
            <div>
            <img class="img-fluid rounded-circle" src="{% static 'blog/images/StephYellow.png' %}" style="width: 150px;">
            </div>
            <div class="d-flex justify-content-center py-2 text-left">
              <div class="p-1">
                <a href="https://www.instagram.com/labelle44">
                  <i class="fab fa-instagram" style="font-size: 2rem;"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-3 d-none d-md-block">
            <!-- empty spacing -->
          </div>
        </div>
      </section>
    {% endif %}
  {% endif %}
{% endif %}

<!-- Search result text for RUSSIAN users -->
{% if LANGUAGE_CODE == "ru" %}

  <!-- Outcome #1: Default view upon first page load -->
  {% if tags_query == None and blog_category_query == None and keyword_query == None %}
    <div class="container text-center">
      {% if queryset.paginator.count == 0 %}
        <b>(0) блогов</b> 
      {% elif queryset.paginator.count == 1 %}
        <b>(1) блог</b> 
      {% elif queryset.paginator.count|slice:":-1" == 2 or queryset.paginator.count|slice:":-1" == 3 or queryset.paginator.count|slice:":-1" == 4 %}
        <b>({{queryset.paginator.count}}) блога</b>
      {% elif queryset.paginator.count > 5 or queryset.paginator.count|slice:"-1" == 5 %}
        <b>({{queryset.paginator.count}}) блогов</b> 
      {% endif %}
        <hr>
    </div>

  <!-- Outcome #2: A user presses search, but without any criteria selected -->
  {% elif tags_query == 'Теги...' and blog_category_query == 'Категория...' and keyword_query == '' %}
    <div class="container text-center">
      {% if queryset.paginator.count == 0 %}
        <b>(0) блогов</b> 
      {% elif queryset.paginator.count == 1 %}
        <b>(1) блог</b> 
      {% elif queryset.paginator.count|slice:":-1" == 2 or queryset.paginator.count|slice:":-1" == 3 or queryset.paginator.count|slice:":-1" == 4 %}
        <b>({{queryset.paginator.count}}) блога</b>
      {% elif queryset.paginator.count > 5 or queryset.paginator.count|slice:"-1" == 5 %}
        <b>({{queryset.paginator.count}}) блогов</b> 
      {% endif %}
        <hr>
    </div>

  <!-- Outcome #3: A user searches with some combination of criteria selected-->
  {% else %}
    <div class="container text-center">
      {% if queryset.paginator.count == 0 %}
        <b>(0) блогов</b> 
      {% elif queryset.paginator.count == 1 %}
        <b>(1) блог</b> 
      {% elif queryset.paginator.count|slice:":-1" == 2 or queryset.paginator.count|slice:":-1" == 3 or queryset.paginator.count|slice:":-1" == 4 %}
        <b>({{queryset.paginator.count}}) блога</b>
      {% elif queryset.paginator.count > 5 or queryset.paginator.count|slice:"-1" == 5 %}
        <b>({{queryset.paginator.count}}) блогов</b> 
      {% endif %}
        <hr>
    </div>

    <!-- If there are no results, show this additional container -->
    {% if queryset.paginator.count == 0 %}
      <section id="no-search-results">
        <div class="container text-center pt-3">
          <h5>
            {% trans "Looking for something? Tell us on Twitter or Instagram, and we'll blog about it for you!" %}
          </h5>
        </div>
        <div class="row py-5">
          <div class="col-3 d-none d-md-block">
            <!-- empty spacing -->
          </div>
          <div class="col-md-3 col-6 text-center">
            <div>
              <img class="img-fluid rounded-circle" src="{% static 'blog/images/mandu.png' %}" style="width: 150px;">
            </div>
            <div class="d-flex justify-content-center py-2 text-right">
              <div class="p-1">
                <a href="https://www.twitter.com/whattheblin">
                  <i class="fab fa-twitter" style="font-size: 2rem;"></i>
                </a>
              </div>
              <div class="p-1">
                <a href="https://www.instagram.com/theblinmachine">
                  <i class="fab fa-instagram" style="font-size: 2rem;"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-6 text-center">
            <div>
            <img class="img-fluid rounded-circle" src="{% static 'blog/images/StephYellow.png' %}" style="width: 150px;">
            </div>
            <div class="d-flex justify-content-center py-2 text-left">
              <div class="p-1">
                <a href="https://www.instagram.com/labelle44">
                  <i class="fab fa-instagram" style="font-size: 2rem;"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-3 d-none d-md-block">
            <!-- empty spacing -->
          </div>
        </div>
      </section>
    {% endif %}
  {% endif %}
{% endif %}



<!-- Search results -->
<div class="container pb-5">
  <div class="card-columns">
    {% if LANGUAGE_CODE == 'en' %}
      {% for post in queryset %}
        <a href="{% url 'life-blog-detail' post.id %}" class="card stretched-link card-hover my-4">
        <img src="{{ post.card_image.url }}" class="card-img-top">
        <span class="badge badge-pill notify-badge badge-light">
          {{ post.blog_category.get }}
        </span>
        <div class="card-body">
          <h4 class="card-title">
            {{ post.title }}
          </h4>
          <hr>
          <p class="card-text">
            {{ post.card_content }}
          </p>
          <div class="text-center">
            <i class="fas fa-comments"></i>  {{ post.lifeblogcomment_set.all.count }}
          </div>
          <hr>
          <footer class="blockquote-footer text-center ">
            <cite title="Source Title">{% trans "Posted on" %} {{ post.date_posted|date:"m/d/Y" }}</cite>
          </footer>
        </div>
        </a>
      {% endfor %}
    {% elif LANGUAGE_CODE == 'ru' %}
      {% if post.publish_translated_blog == True %}
        {% for post in queryset %}
          <a href="{% url 'life-blog-detail' post.id %}" class="card stretched-link card-hover my-4">
          <img src="{{ post.card_image.url }}" class="card-img-top">
          <span class="badge badge-pill notify-badge badge-light">
            {{ post.blog_category_russian.get }}
          </span>
          <div class="card-body">
            <h4 class="card-title">
              {{ post.title_russian }}
            </h4>
            <hr>
            <p class="card-text">
              {{ post.card_content_russian }}
            </p>
            <div class="text-center">
              <i class="fas fa-comments"></i>  {{ post.lifeblogcomment_set.all.count }}
            </div>
            <hr>
            <footer class="blockquote-footer ">
              <cite title="Source Title">{% trans "Posted on" %} {{ post.date_posted|date:"m/d/Y" }}</cite>
            </footer>
          </div>
          </a>
        {% endfor %}
      {% endif %}
    {% endif %}
  </div>
</div>

<!-- Paginate Buttons -->
{% if queryset.paginator.num_pages > 1 %}
<section id="paginate-buttons">
<div class="container text-center pb-5">
  <div class="row">
    <div class="col">
        {% if queryset.has_previous and keyword_query == '' %}
          <a href="?page={{ queryset.previous_page_number }}&title=&blog_category={{blog_category_query}}&tags={{tags_query}}" class="btn btn-sm btn-outline-dark"><i class="fas fa-angle-left"></i></a>
        {% endif %}

        {% if queryset.has_previous and keyword_query %}
          <a href="?page={{ queryset.previous_page_number }}&title={{keyword_query}}&blog_category={{blog_category_query}}&tags={{tags_query}}" class="btn btn-sm btn-outline-dark"><i class="fas fa-angle-left"></i></a>
        {% endif %}

        {% if queryset.has_previous and tags_query == None and blog_category_query == None and keyword_query == None %}
          <a href="?page={{ queryset.previous_page_number }}" class="btn btn-sm btn-outline-dark"><i class="fas fa-angle-left"></i></a>
        {% endif %} 

        {% for num in queryset.paginator.page_range %}
          {% if queryset.number == num %}
            {% if queryset.paginator.num_pages != 1 %}
              <a class="btn btn-sm btn-dark" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
        
        {% if queryset.has_next and keyword_query == '' %}
          <a href="?page={{ queryset.next_page_number }}&title=&blog_category={{blog_category_query}}&tags={{tags_query}}" class="btn btn-sm btn-outline-dark"><i class="fas fa-angle-right"></i></a>
        {% endif %}

        {% if queryset.has_next and keyword_query %}
          <a href="?page={{ queryset.next_page_number }}&title={{keyword_query}}&blog_category={{blog_category_query}}&tags={{tags_query}}" class="btn btn-sm btn-outline-dark"><i class="fas fa-angle-right"></i></a>
        {% endif %}

        {% if queryset.has_next and tags_query == None and blog_category_query == None and keyword_query == None %}
          <a href="?page={{ queryset.next_page_number }}" class="btn btn-sm btn-outline-dark"><i class="fas fa-angle-right"></i></a>
        {% endif %} 
    </div>
  </div>
</div>
</section>
{% endif %}


{% endblock %}

