{% extends "blog/base.html" %}
{% load static %}
{% block content %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<head>
  {% if post.meta_description != None or post.meta_description != '' %}
    <meta name="description" content="{{post.meta_description}}" lang="en" />
  {% endif %}
  {% if post.meta_description_russian != None or post.meta_description_russian != '' %}
    <meta name="description" content="{{post.meta_description_russian}}" lang="ru" />
  {% endif %}
  <!-- Twitter card construction -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@whattheblin" />
  <meta name="twitter:creator" content="@Matt" />
  <meta property="og:title" content="Check out this place in Moscow: {{post.title}}" />
  <meta property="og:type"  content="website" />
  <meta property="og:description" content="{{post.card_content|truncatechars:125}}" />
  <meta property ="og:image"  content="https://www.whattheblin.com{{post.card_image.url}}" />
  <meta property="og:url" content="https://www.whattheblin.com{{request.get_full_path}}" />
  <!-- VK Share -->
  <script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>
  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
</head>


<!-- In case someone forces the /ru/ URL for the post, before a translation is out -->
{% if LANGUAGE_CODE == 'ru' and post.publish_translated_blog == False %}
<div class="container text-center">
  <div class="row">
    <div class="col py-5">
       <img src="{% static 'blog/images/notranslatedyet.jpg' %}" class="rounded mt-3">
    </div>
  </div>
</div>
{% endif %}

<!-- Display the blog if the viewer is reading it in English, or there is a Russian translation available -->
{% if LANGUAGE_CODE == "en" or post.publish_translated_blog == True %}
<!-- Blog Banner -->
<section id="blog-banner" style="position: relative;">
  <div class="container-fluid d-none d-md-block mb-5" style="padding:0;">
    <div class="row-full">
      {% if post.translated_blog_link %}
        <a href="{{ post.translated_blog_link }}" class="stretched-link language-flag">
          <img src="{% static 'blog/images/Russian flag.jpg' %}" class="rounded mt-3" style="width:50px;">
          <p class="muted" style="font-size: 14px;">на русском?</p>
        </a>  
      {% endif %}
      <div class="banner-text d-none d-md-block">
        {% if LANGUAGE_CODE == "en" %}
          <h1>{{post.title}}</h1>
        {% elif LANGUAGE_CODE == "ru" %}
          {{post.title_russian}}
        {% endif %}
      {% if post.author.username == 'Matt' or 'Steph' %}
        <div>
          <img src="{{ post.author.profile.image.url }}" class="rounded-circle mt-3" style="width:55px;">
        </div>
      {% endif %}
      </div>
      <img src="{{ post.banner.url }}" class="img-fluid">
    </div>
  </div>

  <!-- Mobile View Blog Banner -->
  <div class="container-fluid pb-4 d-md-none d-sm-block" style="padding:0;">
    <div class="row-full">
      {% if post.translated_blog_link %}
        <a href="{{ post.translated_blog_link }}" class="stretched-link language-flag">
          <img src="{% static 'blog/images/Russian flag.jpg' %}" class="rounded mt-3" style="width:50px;">
          <p class="muted" style="font-size: 14px;">на русском</p>
        </a>  
      {% endif %}
      <div class="mobile-banner-text">
        <h1>{{post.title}}</h1>
        {% if post.author.username == 'Matt' or 'Steph' %}
          <div>
            <img src="{{ post.author.profile.image.url }}" class="rounded-circle mt-3" style="width:85px;">
          </div>
        {% endif %}
      </div>
      <img src="{{ post.mobile_banner.url }}" class="img-fluid">
    </div>
  </div>
</section>

<!-- Blog Start -->
<section id="blog-detail-body">
  <!-- Section 1 -->
  {% if post.subheader_1 or post.subheader_1_russian %}
    <div class="container">
      {% if LANGUAGE_CODE == "en" %}
        <h2>{{post.subheader_1}}</h2>
      {% elif LANGUAGE_CODE == "ru" %}
        <h2>{{post.subheader_1_russian}}</h2>
      {% endif %}
    </div>
  {% endif %}

  {% if post.paragraph_1 or post.paragraph_1_russian %}
  <div class="container pb-5">
    {% if LANGUAGE_CODE == "en" %}
      {{ post.paragraph_1|linebreaksbr|urlize }}
    {% elif LANGUAGE_CODE == "ru" %}
      {{ post.paragraph_1_russian|linebreaksbr|urlize }}
    {% endif %}
  </div>
  {% endif %}

  {% if post.snapshot_1 or post.snapshot_1_B %}
    <div class="container text-center pb-5">
      <div class="row">
        {% if post.snapshot_1 and post.snapshot_1_B %}
          <div class="col-sm col-md-6">
            <img src="{{ post.snapshot_1.url }}" class="img-fluid rounded">
          </div>
          <div class="col-sm col-md-6">
            <img src="{{ post.snapshot_1_B.url }}" class="img-fluid rounded">
          </div>
        {% elif post.snapshot_1 %}
          <div class="col">
            <img src="{{ post.snapshot_1.url }}" class="img-fluid rounded">
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  <!-- Section 2 -->
  {% if post.subheader_2 or post.subheader_2_russian %}
    <div class="container">
      {% if LANGUAGE_CODE == "en" %}
        <h2>{{post.subheader_2}}</h2>
      {% elif LANGUAGE_CODE == "ru" %}
        <h2>{{post.subheader_2_russian}}</h2>
      {% endif %}
    </div>
  {% endif %}

  {% if post.paragraph_2 or post.paragraph_2_russian %}
    <div class="container pb-5">
      {% if LANGUAGE_CODE == "en" %}
        {{ post.paragraph_2|linebreaksbr|urlize }}
      {% elif LANGUAGE_CODE == "ru" %}
        {{ post.paragraph_2_russian|linebreaksbr|urlize }}
      {% endif %}
    </div>
  {% endif %}

  {% if post.snapshot_2 or post.snapshot_2_B %}
    <div class="container text-center pb-5">
      <div class="row">
        {% if post.snapshot_2 and post.snapshot_2_B %}
          <div class="col-sm col-md-6">
            <img src="{{ post.snapshot_2.url }}" class="img-fluid rounded">
          </div>
          <div class="col-sm col-md-6">
            <img src="{{ post.snapshot_2_B.url }}" class="img-fluid rounded">
          </div>
        {% elif post.snapshot_2 %}
          <div class="col">
            <img src="{{ post.snapshot_2.url }}" class="img-fluid rounded">
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  <!-- Section 3 -->
  {% if post.subheader_3 or post.subheader_3_russian %}
    <div class="container">
      {% if LANGUAGE_CODE == "en" %}
        <h2>{{post.subheader_3}}</h2>
      {% elif LANGUAGE_CODE == "ru" %}
        <h2>{{post.subheader_3_russian}}</h2>
      {% endif %}
    </div>
  {% endif %}

  {% if post.paragraph_3 or post.paragraph_3_russian %}
    <div class="container pb-5">
      {% if LANGUAGE_CODE == "en" %}
        {{ post.paragraph_3|linebreaksbr|urlize }}
      {% elif LANGUAGE_CODE == "ru" %}
        {{ post.paragraph_3_russian|linebreaksbr|urlize }}
      {% endif %}
    </div>
  {% endif %}

  {% if post.snapshot_3 or post.snapshot_3_B %}
    <div class="container text-center pb-5">
      <div class="row">
        {% if post.snapshot_3 and post.snapshot_3_B %}
          <div class="col-sm col-md-6">
            <img src="{{ post.snapshot_3.url }}" class="img-fluid rounded">
          </div>
          <div class="col-sm col-md-6">
            <img src="{{ post.snapshot_3_B.url }}" class="img-fluid rounded">
          </div>
        {% elif post.snapshot_3 %}
          <div class="col">
            <img src="{{ post.snapshot_3.url }}" class="img-fluid rounded">
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  <!-- Section 4 -->
  {% if post.subheader_4 or post.subheader_4_russian %}
    <div class="container">
      {% if LANGUAGE_CODE == "en" %}
        <h2>{{post.subheader_4}}</h2>
      {% elif LANGUAGE_CODE == "ru" %}
        <h2>{{post.subheader_4_russian}}</h2>
      {% endif %}
    </div>
  {% endif %}

  {% if post.paragraph_4 or post.paragraph_4_russian %}
    <div class="container pb-5">
      {% if LANGUAGE_CODE == "en" %}
        {{ post.paragraph_4|linebreaksbr|urlize }}
      {% elif LANGUAGE_CODE == "ru" %}
        {{ post.paragraph_4_russian|linebreaksbr|urlize }}
      {% endif %}
    </div>
  {% endif %}

  {% if post.snapshot_4 or post.snapshot_4_B %}
    <div class="container text-center pb-5">
      <div class="row">
        {% if post.snapshot_4 and post.snapshot_4_B %}
          <div class="col-sm col-md-6">
            <img src="{{ post.snapshot_4.url }}" class="img-fluid rounded">
          </div>
          <div class="col-sm col-md-6">
            <img src="{{ post.snapshot_4_B.url }}" class="img-fluid rounded">
          </div>
        {% elif post.snapshot_4 %}
          <div class="col">
            <img src="{{ post.snapshot_4.url }}" class="img-fluid rounded">
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}

  <!-- Section 5 -->
  {% if post.subheader_5 or post.subheader_5_russian %}
    <div class="container">
      {% if LANGUAGE_CODE == "en" %}
        <h2>{{post.subheader_5}}</h2>
      {% elif LANGUAGE_CODE == "ru" %}
        <h2>{{post.subheader_5_russian}}</h2>
      {% endif %}
    </div>
  {% endif %}

  {% if post.paragraph_5 or post.paragraph_5_russian %}
    <div class="container pb-5">
      {% if LANGUAGE_CODE == "en" %}
        {{ post.paragraph_5|linebreaksbr|urlize }}
      {% elif LANGUAGE_CODE == "ru" %}
        {{ post.paragraph_5_russian|linebreaksbr|urlize }}
      {% endif %}
    </div>
  {% endif %}

  {% if post.snapshot_5 or post.snapshot_5_B %}
    <div class="container text-center pb-5">
      <div class="row">
        {% if post.snapshot_5 and post.snapshot_5_B %}
          <div class="col-sm col-md-6">
            <img src="{{ post.snapshot_5.url }}" class="img-fluid rounded">
          </div>
          <div class="col-sm col-md-6">
            <img src="{{ post.snapshot_5_B.url }}" class="img-fluid rounded">
          </div>
        {% elif post.snapshot_5 %}
          <div class="col">
            <img src="{{ post.snapshot_5.url }}" class="img-fluid rounded">
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
</section>


   <!-- share buttons -->
  <div class="row justify-content-center pb-4" style="font-size: 1.5rem;">
    Help support us by sharing!
  </div>
  <div class="row justify-content-center">
    <!-- Twitter share button -->
    <div class="d-block pr-2">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="{{post.title}}: {{post.card_content|truncatechars:125}}" data-hashtags="Moscow #WhatTheBlin #MoscowEats #LifeinRussia" data-show-count="false">
      Tweet
    </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <!-- VK share button -->
    <div class="d-inline-block px-2">
    <script type="text/javascript"><!--
    document.write(VK.Share.button(false,{type: "custom", text: "<img src=\"https://vk.com/images/share_32.png\" width=\"32\" height=\"32\" />"}));
    --></script>
    </div>

    <!-- Facebook share button -->
    <div class="fb-share-button d-inline-block pl-2" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
    </div>
  </div>
  

  <!-- Google Maps -->
  {% if post.google_map != 'Ex: https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.6833389633666!2d37.60298461590133!3d55.76400288055638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54bfc8bcfdc57%3A0x9fc4876420a8dffc!2sRestoran+Kafe+Pushkin%22!5e0!3m2!1sen!2sca!4v1559308017720!5m2!1sen!2sca' %}
    <div class="container text-center mt-5 pb-4">
      <div class="row">
        <div class="col map">
            <iframe src="{{ post.google_map }}" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  {% endif %}

<!-- Comments Section Starts -->
  <section id="comments">
    <div class="container text-center py-5">
    {% for comment in user_comments|slice:":50" %}
      <div class="card">
        <div class="card-body">
          <div class="col">
            <img src="{{ comment.author.profile.image.url }}" alt="" class="img-fluid rounded-circle comment-img">
            <div class="d-flex justify-content-center" style="margin-top: -3px;">
              <!-- VK -->
              {% if comment.author.profile.vk_link and comment.author.profile.vk_link != 'https://vk.com' %}
                <div class="p-1">
                  <a href="{{ comment.author.profile.vk_link }}">
                    <i class="fab fa-vk link-active"></i>
                  </a>
                </div>
              {% else %}
                <div class="p-1">
                  <a href="{{ comment.author.profile.vk_link }}">
                    <i class="fab fa-vk link-inactive"></i>
                  </a>
                </div>
              {% endif %}
              <!-- Facebook -->
              {% if comment.author.profile.facebook_link and comment.author.profile.facebook_link != 'https://www.facebook.com' %}
                <div class="p-1">
                  <a href="{{ comment.author.profile.facebook_link }}">
                    <i class="fab fa-facebook link-active"></i>
                  </a>
                </div>
              {% else %}
                <div class="p-1">
                  <i class="fab fa-facebook link-inactive"></i>
                </div>
              {% endif %}
              <!-- Twitter -->
              {% if comment.author.profile.twitter_link and comment.author.profile.twitter_link != 'https://twitter.com' %}
              <div class="p-1">
                <a href="{{ comment.author.profile.twitter_link }}">
                  <i class="fab fa-twitter link-active"></i>
                </a>
              </div>
              {% else %}
              <div class="p-1">
                <i class="fab fa-twitter link-inactive"></i>
              </div>
              {% endif %}
              <!-- Instagram -->
              {% if comment.author.profile.instagram_link and comment.author.profile.instagram_link != 'https://www.instagram.com' %}
              <div class="p-1">
                <a href="{{ comment.author.profile.instagram_link }}">
                  <i class="fab fa-instagram link-active"></i>
                </a>
              </div>
              {% else %}
              <div class="p-1">
                <i class="fab fa-instagram link-inactive"></i>
              </div>
              {% endif %}
            </div>
            <p class=" pt-2 pb-3">{{comment.comment}}</p>
            <footer class="blockquote-footer text-end pb-3">
              <cite>{{ comment.author }}, {{ comment.date_posted|date:"m/d/Y" }}</cite>
            </footer>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="container text-center pb-5 mb-5">
    <div class="row justify-content-center">
        {% if user.is_authenticated %}
          <a href="{% url 'life-blog-comment' post.id %}" class="btn btn-primary btn-sm text-white">
            {% trans "Add a Comment" %}
          </a>
        {% else %}
          <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-primary btn-sm text-white">
            {% trans "<strong>Login</strong> to add a new comment" %}
          </a>
        {% endif %} 
    </div>
  </div>

  {% endif %}
</section>



{% endblock content %}