{% extends "blog/base.html" %}
{% block nav_item_blog-search %}active{% endblock nav_item_blog-search %} 
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% trans "Moscow's best food blog and home for Moscow expats. Find the best cafes, desserts, and restaurants in Moscow, with location pins for every blog. Learn about life in Moscow by following our weekly blogs and podcast!" as meta_tag %}

<head>
  <meta name="description" CONTENT={{meta_tag}}>
  <title>Find Cafes and Restaurants in Moscow</title>
</head>

<!-- Masonry -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<!-- Flickity -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<!-- Flickity CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<!-- Infinite Scroll -->
<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>


<!-- Carousel -->
<section id="carousel-section">
<div class="main-carousel">
  {% for image in carousel_images %}
    {% if LANGUAGE_CODE == 'en' %}
      <div class="carousel-cell">
        <a href="{{ image.link }}" class="stretched-link">
          <img class="w-100" src="{{ image.image.url }}">
          {% if image.text_position == "Center" %}
            <div class="carousel-caption-center carousel-caption">
              <h4>
                {{ image.title }}
              </h4>
              <p>
                {{ image.caption }}
              </p>
            </div>
          {% elif image.text_position == "Left" %}
            <div class="carousel-caption-top-left carousel-caption">
              <h4>
                {{ image.title }}
              </h4>
              <p>
                {{ image.caption }}
              </p>
            </div>
          {% elif image.text_position == "Right" %}
            <div class="carousel-caption-top-right carousel-caption">
              <h4>
                {{ image.title }}
              </h4>
              <p>
                {{ image.caption }}
              </p>
            </div>
          {% endif %}
        </a>
      </div>
    {% elif LANGUAGE_CODE == 'ru' %}
      <div class="carousel-cell">
        <a href="{{ image.link }}" class="stretched-link">
          <img class="w-100" src="{{ image.image.url }}">
          {% if image.text_position == "Center" %}
            <div class="carousel-caption-center carousel-caption">
              <h4>
                {{ image.title_russian }}
              </h4>
              <p>
                {{ image.caption_russian }}
              </p>
            </div>
          {% elif image.text_position == "Left" %}
            <div class="carousel-caption-top-left carousel-caption">
              <h4>
                {{ image.title_russian }}
              </h4>
              <p>
                {{ image.caption_russian }}
              </p>
            </div>
          {% elif image.text_position == "Right" %}
            <div class="carousel-caption-top-right carousel-caption">
              <h4>
                {{ image.title_russian }}
              </h4>
              <p>
                {{ image.caption_russian }}
              </p>
            </div>
          {% endif %}
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>
</section>



<!-- Search Section Starts -->
<section id="search-fields" class="d-none d-md-flex">
  <form class="justify-content-center align-items-center">
    <div class="inner-form">

      <!-- Search by keyword -->
      <div class="input-field first-wrap">
        <input type="text" name="keyword" placeholder={% trans "Keyword..." %} value={% if keyword_query %}
                {{keyword_query}}
              {% else %}
                ""
              {% endif %}/>
      </div>
      
      <!-- Search by store type -->
      <select id="store_type" class="input-field middle-wrap" name="store_type">
        <option selected>
          {% if store_type_query %}
            {{ store_type_query }}
          {% else %}
            {% trans "Type..." %}
          {% endif %}
        </option>
        {% if LANGUAGE_CODE == 'en' %}
          {% for type in store_type %}
            <option value="{{ type }}"> {{ type }} </option>
          {% endfor %}
        {% elif LANGUAGE_CODE == 'ru' %}
          {% for type in store_type_russian %}
            <option value="{{ type }}"> {{ type }} </option>
          {% endfor %}
        {% endif %}
      </select>
            
      <!-- Search by special feature -->
      <select id="special_feature" class="input-field middle-wrap" name="special_feature">
        <option selected>
          {% if special_feature_query %}
            {{ special_feature_query }}
          {% else %}
            {% trans "Features..." %}
          {% endif %}
        </option>
        {% if LANGUAGE_CODE == 'en' %}
          {% for feature in special_feature %}
            <option value="{{ feature }}"> {{ feature }} </option>
          {% endfor %}
        {% elif LANGUAGE_CODE == 'ru' %}
          {% for feature in special_feature_russian %}
            <option value="{{ feature }}"> {{ feature }} </option>
          {% endfor %}
        {% endif %}
      </select>

      <!-- Search by nearest station -->
      <select id="nearest_station" class="input-field middle-wrap" name="nearest_station">
        <option selected>
          {% if nearest_station_query %}
            {{ nearest_station_query }}
          {% else %}
            {% trans "Station..." %}
          {% endif %}
        </option>
        {% if LANGUAGE_CODE == 'en' %}
          {% for station in nearest_station %}
            <option value="{{ station }}"> {{ station }} </option>
          {% endfor %}
        {% elif LANGUAGE_CODE == 'ru' %}
          {% for station in nearest_station_russian %}
            <option value="{{ station }}"> {{ station }} </option>
          {% endfor %}
        {% endif %}
      </select>

      <!-- Search by price -->
      <select id="price_rating" class="input-field middle-wrap" name="price_rating">
        <option selected>
          {% if price_rating_query %}
            {{ price_rating_query }}
          {% else %}
            {% trans "Price..." %}
          {% endif %}
        </option>
        {% if LANGUAGE_CODE == 'en' %}
          {% for rating in price_rating %}
            <option value="{{ rating }}"> {{ rating }} </option>
          {% endfor %}
        {% elif LANGUAGE_CODE == 'ru' %}
          {% for rating in price_rating_russian %}
            <option value="{{ rating }}"> {{ rating }} </option>
          {% endfor %}
        {% endif %}
      </select>

      <!-- Search by overall rating -->
      <select id="overall_rating" class="input-field last-wrap" name="overall_rating">
        <option selected>
          {% if overall_rating_query %}
            {{ overall_rating_query }}
          {% else %}
            {% trans "Rating ≥ ..." %}
          {% endif %}
        </option>
        <option>1.0</option>
        <option>1.5</option>
        <option>2.0</option>
        <option>2.5</option>
        <option>3.0</option>
        <option>3.5</option>
        <option>4.0</option>
        <option>4.5</option>
        <option>5.0</option>
      </select>

      <!-- Search button -->
      <div class="input-field search-button-wrap">
        <button type="submit" class="btn-search" value="Filter">
          <i class="fas fa-search"></i>
        </button>
      </div>

      <!-- Reset button -->
      <div class="input-field reset-button-wrap">
        <button type="button" class="btn-reset" onclick="window.location.href='{% url 'blog-search' %}'">
          <i class="fas fa-undo"></i>
        </button>
      </div>
      
    </div> <!-- inner-form ends -->
  </form>
</section>

<!-- Mobile View: Search Menu  -->
<form method="GET" action="." class="d-md-none d-sm-block">
<div class="container py-3">
  <div class="row">
    <div class="col-md-2">
      <div class="input-group">
        <input class="form-control form-control-sm border" type="search" name="keyword" placeholder={% trans "Keyword..." %} value={% if keyword_query %}
                {{keyword_query}}
              {% else %}
                ""
              {% endif %}/>
      </div>
    </div>
<!-- Search by store type -->
    <div class="col-md-2">
      <select id="store_type" class="custom-select custom-select-sm" name="store_type">
        <option selected>
        {% if store_type_query %}
          {{ store_type_query }}
        {% else %}
          {% trans "Type..." %}
        {% endif %}
        </option>
        {% if LANGUAGE_CODE == 'en' %}
          {% for type in store_type %}
            <option value="{{ type }}"> {{ type }} </option>
          {% endfor %}
        {% elif LANGUAGE_CODE == 'ru' %}
          {% for type in store_type_russian %}
            <option value="{{ type }}"> {{ type }} </option>
          {% endfor %}
        {% endif %}
      </select>
    </div>
    <!-- Search by special feature -->
    <div class="col-md-2">
      <select id="special_feature" class="custom-select custom-select-sm" name="special_feature">
        <option selected>
          {% if special_feature_query %}
            {{ special_feature_query }}
          {% else %}
            {% trans "Features..." %}
          {% endif %}
        </option>
        {% if LANGUAGE_CODE == 'en' %}
          {% for feature in special_feature %}
            <option value="{{ feature }}"> {{ feature }} </option>
          {% endfor %}
        {% elif LANGUAGE_CODE == 'ru' %}
          {% for feature in special_feature_russian %}
            <option value="{{ feature }}"> {{ feature }} </option>
          {% endfor %}
        {% endif %}
      </select>
    </div>
    <!-- Search by nearest station -->
    <div class="col-md-2">
      <select id="nearest_station" class="custom-select custom-select-sm" name="nearest_station">
        <option selected>
        {% if nearest_station_query %}
          {{ nearest_station_query }}
        {% else %}
          {% trans "Station..." %}
        {% endif %}
        </option>
        {% if LANGUAGE_CODE == 'en' %}
          {% for station in nearest_station %}
            <option value="{{ station }}"> {{ station }} </option>
          {% endfor %}
        {% elif LANGUAGE_CODE == 'ru' %}
          {% for station in nearest_station_russian %}
            <option value="{{ station }}"> {{ station }} </option>
          {% endfor %}
        {% endif %}
      </select>
    </div>
    <!-- Search by price -->
    <div class="col-md-2">
      <select id="price_rating" class="custom-select custom-select-sm" name="price_rating">
        <option selected>
        {% if price_rating_query %}
          {{ price_rating_query }}
        {% else %}
          {% trans "Price..." %}
        {% endif %}
        </option>
        {% if LANGUAGE_CODE == 'en' %}
          {% for rating in price_rating %}
            <option value="{{ rating }}"> {{ rating }} </option>
          {% endfor %}
        {% elif LANGUAGE_CODE == 'ru' %}
          {% for rating in price_rating_russian %}
            <option value="{{ rating }}"> {{ rating }} </option>
          {% endfor %}
        {% endif %}
      </select>
    </div>
    <!-- Search by overall rating -->
    <div class="col-md-2">
      <select id="overall_rating" class="custom-select custom-select-sm" name="overall_rating">
        <option selected>
        {% if overall_rating_query %}
          {{ overall_rating_query }}
        {% else %}
          {% trans "Rating ≥ ..." %}
        {% endif %}
        </option>
        <option>1.0</option>
        <option>1.5</option>
        <option>2.0</option>
        <option>2.5</option>
        <option>3.0</option>
        <option>3.5</option>
        <option>4.0</option>
        <option>4.5</option>
        <option>5.0</option>
      </select>
    </div>

    <div class="container text-center py-2" style="height: 100px;" >
      <!-- Search button -->
      <button type="submit" class="btn-search-mobile" value="Filter">
        <i class="fas fa-search"></i>
      </button>

      <!-- Reset button -->
      <button type="button" class="btn-reset-mobile" onclick="window.location.href='{% url 'life-blog-search' %}'">
        <i class="fas fa-undo"></i>
      </button>
    </div>
  
  </div>
</div>
</form>

<!-- Russian Search Results -->
<section id="search-results-text">
  {% if LANGUAGE_CODE == "ru" %}
    <!-- Outcome #1: Default view upon first page load -->
    {% if tags_query == None and blog_category_query == None and keyword_query == None %}
      <div class="container text-center">
        {% if queryset.paginator.count == 0 %}
          <b>
            (0) блогов:
          </b>
          <hr> 
        {% elif queryset.paginator.count == 1 %}
          <b>
            (1) блог:
          </b>
          <hr> 
        {% elif queryset.paginator.count|slice:":-1" == 2 or queryset.paginator.count|slice:":-1" == 3 or queryset.paginator.count|slice:":-1" == 4 %}
          <b>
            ({{queryset.paginator.count}}) блога:
          </b>
          <hr> 
        {% elif queryset.paginator.count > 5 or queryset.paginator.count|slice:"-1" == 5 %}
          <b>
            ({{queryset.paginator.count}}) блогов:
          </b>
          <hr>
        {% endif %}
      </div>

    <!-- Outcome #2: The user presses search without any specific criteria -->
    {% elif keyword_query == '' and store_type_query == "Тип..." and special_feature_query == "Характеристики..." and nearest_station_query == "Станция..." and price_rating_query == "Цена..." and overall_rating_query == "Рейтинг ≥ ..."%}
      <div class="container text-center">
        {% if queryset.paginator.count == 0 %}
          <b>
            (0) блогов:
          </b>
          <hr> 
        {% elif queryset.paginator.count == 1 %}
          <b>
            (1) блог:
          </b> 
          <hr>
        {% elif queryset.paginator.count|slice:"-1" == 2 or queryset.paginator.count|slice:":-1" == 3 or queryset.paginator.count|slice:":-1" == 4 %}
          <b>
            ({{queryset.paginator.count}}) блога:
          </b> 
          <hr>
        {% elif queryset.paginator.count > 5 or queryset.paginator.count|slice:":-1" == 5 %}
          <b>
            ({{queryset.paginator.count}}) блогов:
          </b> 
          <hr>
        {% endif %}
      </div>
    <!-- Outcome #3: A user searches with some combination of criteria selected-->
    {% else %}
      <div class="container text-center">
        {% if queryset.paginator.count == 1 %}
          <b>
            (1) блог:
          </b> 
          <hr>
        {% elif queryset.paginator.count|slice:"-1" == 2 or queryset.paginator.count|slice:":-1" == 3 or queryset.paginator.count|slice:":-1" == 4 %}
          <b>
            ({{queryset.paginator.count}}) блога:
          </b>
          <hr> 
        {% elif queryset.paginator.count > 5 or queryset.paginator.count|slice:":-1" == 5 %}
          <b>
            ({{queryset.paginator.count}}) блогов:
          </b>
          <hr>
        {% endif %}
      </div>
      
      <!-- If there are no results, show this additional container -->
      {% if queryset.paginator.count == 0 %}
        <div class="container text-center">
          <h5>
            {% trans "Looking for something? Tell us and we'll blog about it for you!" %}
          </h5>
        </div>
        <div class="row py-5">
          <!-- Empty row -->
        </div>
      {% endif %}
    {% endif %}
  {% endif %}

  <!-- Search result text for ENGLISH users -->
  {% if LANGUAGE_CODE == "en" %}
    <!-- Search results text and criteria -->
    {% if keyword_query == None and store_type_query == None and special_feature_query == None and nearest_station_query == None and price_rating_query == None and overall_rating_query == None %}
      <div class="container text-center">
        {% if queryset.paginator.count == 0 %}
          <b>(0) Blogs</b>
        {% elif queryset.paginator.count == 1 %}
          <b>(1) Blog</b>
        {% elif queryset.paginator.count > 1 %}
          <b>({{ queryset.paginator.count }}) Blogs</b>
        {% endif %}
        <hr>
      </div>

    {% elif keyword_query == '' and store_type_query == "Type..." and special_feature_query == "Features..." and nearest_station_query == "Station..." and price_rating_query == "Price..." and overall_rating_query == "Rating ≥ ..." %}
      <div class="container text-center">
        {% if queryset.paginator.count == 0 %}
          <b>(0) Blogs</b>
        {% elif queryset.paginator.count == 1 %}
          <b>(1) Blog</b>
        {% elif queryset.paginator.count > 1 %}
          <b>({{ queryset.paginator.count }}) Blogs</b>
        {% endif %}
        <hr>
      </div>

    {% else %}
      <div class="container text-center">
        {% if queryset.paginator.count == 0 %}
          <b>(0) Blogs</b>
        {% elif queryset.paginator.count == 1 %}
          <b>(1) Blog</b>
        {% elif queryset.paginator.count > 1 %}
          <b>({{ queryset.paginator.count }}) Blogs</b>
        {% endif %}
        <hr>
      </div>
    {% endif %}

    <!-- If there are no results, show this additional container -->
    {% if queryset.paginator.count == 0 %}
      <div class="container text-center">
        <h5>
          {% trans "Looking for something? Tell us and we'll blog about it for you!" %}
        </h5>
      </div>
      <div class="row py-5">
          <!-- Empty row -->
      </div>
    {% endif %}
  {% endif %}
</section>

<!-- Blog Cards -->
{% if LANGUAGE_CODE == 'en' %}
  <div class="container-fluid x-padding">
    <div class="grid">
      <div class="grid-sizer col-xs col-md-6 col-lg-3"></div>
      {% for post in queryset %}
        <div class="grid-item col-xs col-md-6 col-lg-3">
          <a href="{% url 'post-detail' post.id %}" class="card stretched-link card-hover">
          <img src="{{ post.card_image.url }}" alt="" class="card-img-top">
          <span class="badge badge-pill notify-badge badge-light">{{ post.store_type.get }}</span>
          <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>

            Overall: 
            {% if post.overall_rating.get.rating == 1.0 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 1.5 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 2.0 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 2.5 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 3.0 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 3.5 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 4.0 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 4.5 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </span>
            {% elif post.overall_rating.get.rating == 5.0 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
            {% endif %}
            <div>

            Price:
            {% if post.price_rating.get.name == "Cheap" %}
            <span>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
            </span>
            {% elif post.price_rating.get.name == "Average" %}
            <span> 
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
            </span>
            {% elif post.price_rating.get.name == "Expensive" %}
            <span>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
            </span>
            {% elif post.price_rating.get.name == "Very Expensive" %}
            <span>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
            </span>
            {% endif %}
            <div></div>
            Nearest Station: <em>{{ post.nearest_station.get }}</em>
            </div>
            <div class="text-right pr-0">
              <i class="fas fa-comments"></i>
              <span>
                {{ post.comment_set.all.count }}
              </span>
            </div>
            <hr>
            <p class="card-text">{{ post.card_content }}</p>
            <hr>
            <footer class="blockquote-footer text-center">
              <cite title="Source Title">Posted on {{ post.date_posted|date:"m/d/Y" }}</cite>
            </footer>
          </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

<!-- Russian Cards -->
{% if LANGUAGE_CODE == 'ru' %}
  <div class="container-fluid x-padding">
    <div class="grid">
      <div class="grid-sizer col-xs col-md-6 col-lg-3"></div>
      {% for post in queryset %}
        <div class="grid-item col-xs col-md-6 col-lg-3">
          <a href="{% url 'post-detail' post.id %}" class="card stretched-link card-hover">
          <img src="{{ post.card_image.url }}" alt="" class="card-img-top">
          <span class="badge badge-pill notify-badge badge-light">{{ post.store_type_russian.get }}</span>
          <div class="card-body">
            <h4 class="card-title">{{ post.title_russian }}</h4>
            Overall: 
            {% if post.overall_rating.get.rating == 1.0 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 1.5 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 2.0 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 2.5 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 3.0 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star unfilled"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 3.5 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 4.0 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star unfilled"></i>
            </span>
            {% elif post.overall_rating.get.rating == 4.5 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </span>
            {% elif post.overall_rating.get.rating == 5.0 %}
            <span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
            {% endif %}
            <div>

            Price:
            {% if post.price_rating.get.name == "Cheap" %}
            <span>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
            </span>
            {% elif post.price_rating.get.name == "Average" %}
            <span> 
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
            </span>
            {% elif post.price_rating.get.name == "Expensive" %}
            <span>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign unfilled"></i>
            </span>
            {% elif post.price_rating.get.name == "Very Expensive" %}
            <span>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
              <i class="fas fa-ruble-sign"></i>
            </span>
            {% endif %}
            <div></div>
            Nearest Station: <em>{{ post.nearest_station_russian.get }}</em>
            </div>
            <div class="text-right pr-0">
              <i class="fas fa-comments"></i>
              <span>
                {{ post.comment_set.all.count }}
              </span>
            </div>
            <hr>
            <p class="card-text">{{ post.card_content }}</p>
            <hr>
            <footer class="blockquote-footer text-center">
              <cite title="Source Title">Posted on {{ post.date_posted|date:"m/d/Y" }}</cite>
            </footer>
          </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

<!-- End of Blogs -->
<div class="page-load-status">
  <hr>
  <p class="infinite-scroll-last">
    {% trans "End of Blogs" %}
  </p>
</div>

<!-- Pagination -->
<section id="paginate-buttons">
  <div class="pb-5">
    {% if queryset.has_next and keyword_query == '' %}
      <a href="?page={{ queryset.next_page_number }}&keyword=&store_type={{store_type_query}}&special_feature={{special_feature_query}}&nearest_station={{nearest_station_query}}&price_rating={{price_rating_query}}&overall_rating={{overall_rating_query}}" class="pagination__next"></a>
    {% endif %}

    {% if queryset.has_next and keyword_query != None and keyword_query != '' %}
      <a href="?page={{ queryset.next_page_number }}&keyword={{keyword_query}}&store_type={{store_type_query}}&special_feature={{special_feature_query}}&nearest_station={{nearest_station_query}}&price_rating={{price_rating_query}}&overall_rating={{overall_rating_query}}" class="pagination__next"></a>
    {% endif %}

    {% if queryset.has_next and store_type_query == None and special_feature_query == None and nearest_station_query == None and price_rating_query == None and overall_rating_query == None %}
      <a href="?page={{ queryset.next_page_number }}" class="pagination__next"></a>
    {% endif %} 
  </div>
</section>

<!-- Masonry Script -->
<script>
  // init Masonry
  var $grid = $('.grid').masonry({
    itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
    columnWidth: '.grid-sizer',
    percentPosition: true,
  });
  // layout Masonry after each image loads
  $grid.imagesLoaded().progress( function() {
    $grid.masonry('layout');
  });
</script>

<script>
  // Flickity
$('.main-carousel').flickity({
  // options
  cellAlign: 'left',
  contain: true,
  autoPlay: 5000,
  selectedAttraction: 0.01,
  friction: 0.15,
  prevNextButtons: false,
  wrapAround: true,
  pageDots: false,
  imagesLoaded: true
});
</script>

<!-- Infinite Scroll -->
<script>
  // get Masonry instance
  var msnry = $grid.data('masonry');
  // init Infinite Scroll
  $grid.infiniteScroll({
    // Infinite Scroll options...
    append: '.grid-item',
    outlayer: msnry,
    path: '.pagination__next',
    status: '.page-load-status'
  });
</script>

{% endblock %}

