{% extends "blog/base.html" %}
{% block nav_item_blog-search %}active{% endblock nav_item_blog-search %} 
{% load crispy_forms_tags %}
{% block content %}
{% load static %}


<link href="https://fonts.googleapis.com/css?family=Unica+One&display=swap" rel="stylesheet">



<!-- Search Food Banner -->
<section id="blog-banner">
{% for banner in banner %}
  {% if banner.visibility == 'Display' %}
    <div class="container-fluid" style="padding:0;">
      <div class="row-full">
        <div class="banner-text d-none d-md-block">
          {{ banner.caption }}
        </div>
        <img class="w-100 img-fluid" src="{{ banner.image.url }}">
      </div>
    </div>
  {% endif %}
{% endfor %}



<!-- Search by store type-->
<form method="GET" action=".">
<div class="container py-3">
  <div class="row">
    <div class="col-md-2">
      <div class="input-group">
        <input class="form-control border-right-0 border" type="search" name="title" placeholder="Title contains..." />
          <span class="input-group-append">
            <div class="input-group-text bg-transparent">
              <i class="fa fa-search"></i>
            </div>
          </span> 
      </div>
    </div>
<!-- Search by store type -->
    <div class="col-md-2">
        <select id="store_type" class="form-control" name="store_type">
          <option selected>Type...</option>
          {% for type in store_type %}
            <option value="{{ type }}"> {{ type }} </option>
          {% endfor %}
        </select>
    </div>
    <!-- Search by special feature -->
    <div class="col-md-2">
        <select id="special_feature" class="form-control" name="special_feature">
          <option selected>Has...</option>
          {% for feature in special_feature %}
            <option value="{{ feature }}"> {{ feature }} </option>
          {% endfor %}
        </select>
    </div>
    <!-- Search by nearest station -->
    <div class="col-md-2">
        <select id="nearest_station" class="form-control" name="nearest_station">
          <option selected>Station...</option>
          {% for station in nearest_station %}
            <option value="{{ station }}"> {{ station }} </option>
          {% endfor %}
        </select>
    </div>
    <!-- Search by price -->
    <div class="col-md-2">
        <select id="price_rating" class="form-control" name="price_rating">
          <option selected>Price...</option>
          {% for rating in price_rating %}
            <option value="{{ rating }}"> {{ rating }} </option>
          {% endfor %}
        </select>
    </div>
    <!-- Search by overall rating -->
    <div class="col-md-2 pb-3">
        <select id="overall_rating" class="form-control" name="overall_rating">
          <option selected>Rating ≥ ...</option>
          {% for rating in overall_rating %}
            <option value="{{ rating }}"> {{ rating }} </option>
          {% endfor %}
        </select>
    </div>
    <!-- Search Submit Button -->
    <div class="col text-center pt-0">
      <button type="submit" class="btn btn-dark" value="Filter">
        Search
      </button>
    </div>

  </div>
</div>
</form>

<!-- Search results text and criteria -->
{% if title_query == None and store_type_query == None and special_feature_query == None and nearest_station_query == None and price_rating_query == None and overall_rating_query == None %}
<!-- display no results, take no action! -->
<div class="container text-center">
  <b>({{queryset.paginator.count}}) Blogs</b> 
  <hr>
</div>

{% elif title_query == '' and store_type_query == "Type..." and special_feature_query == "Has..." and nearest_station_query == "Station..." and price_rating_query == "Price..." and overall_rating_query == "Rating ≥ ..." %}
<!-- display no results, take no action! -->
<div class="container text-center">
  <b>({{queryset.paginator.count}}) Blogs</b> 
  <hr>
</div>

  {% else %}
    <div class="container text-center">
      {% if queryset.paginator.count == 0 %}
        <b>(0) Blogs:</b>
      {% endif %}

      {% if queryset.paginator.count == 1 %}
        <b>(1) Blog:</b>
      {% endif %}

      {% if queryset.paginator.count > 1 %}
        <b>({{ queryset.paginator.count }}) Blogs:</b>
      {% endif %}

      <!-- Phrasing the store type results sentence -->
      {% if special_feature_query == 'Has...' and nearest_station_query == 'Station...' and price_rating_query == 'Price...' and overall_rating_query == 'Rating ≥ ...' and title_query == '' %}
        <span>
          <b><em>{{store_type_query}}.</em></b>
        </span>
      {% elif store_type_query and store_type_query != 'Type...' %}
        <span>
          <b><em>{{store_type_query}},</em></b>
        </span>
      {% endif %}

      <!-- Phrasing the special features results sentence -->
      {% if special_feature_query != 'Has...' and nearest_station_query == 'Station...' and price_rating_query == 'Price...' and overall_rating_query == 'Rating ≥ ...' and title_query == '' %}
        <span>
          <b><em>{{special_feature_query}}.</em></b>
        </span>
      {% elif special_feature_query and special_feature_query != 'Has...' %}
        <span>
          <b><em>{{special_feature_query}},</em></b>
        </span>
      {% endif %}

      <!-- Phrasing the nearest station results sentence -->
      {% if nearest_station_query != 'Station...' and price_rating_query == 'Price...' and overall_rating_query == 'Rating ≥ ...' and title_query == '' %}
        <span>
          <b><em>{{nearest_station_query}}.</em></b>
        </span>
      {% elif nearest_station_query and nearest_station_query != 'Station...' %}
        <span>
          <b><em>{{nearest_station_query}},</em></b>
        </span>
      {% endif %}

      <!-- Phrasing the price rating results sentence -->
      {% if price_rating_query != 'Price...' and overall_rating_query == 'Rating ≥ ...' and title_query == '' %}
        <span>
          <b><em>{{price_rating_query}}.</em></b>
        </span>
      {% elif price_rating_query and price_rating_query != 'Price...' %}
        <span>
          <b><em>{{price_rating_query}},</em></b>
        </span>
      {% endif %}

      <!-- Phrasing the overall rating results sentence -->
      {% if overall_rating_query != 'Rating ≥ ...' and title_query == '' %}
        <span>
          <b><em>Overall Rating ≥ {{overall_rating_query}}.</em></b>
        </span>
      {% elif overall_rating_query and overall_rating_query != 'Rating ≥ ...' %}
        <span>
          <b><em>Overall Rating ≥ {{overall_rating_query}},</em></b>
        </span>
      {% endif %}


      {% if title_query and title_query != '' %}
        <span>
          with <b><em>{{title_query}}</em></b> in the title.
        </span>
      {% endif %}

      <hr>
      
      <!-- If there are no results -->
      {% if queryset.paginator.count == 0 %}
      <section id="no-search-results">
        <div class="container pt-3">
          <h5 style="font-family: Kurale;">
            No places found with that specific criteria :(.
            <br>
            <br>
            If you have a suggestion, tell us on Twitter or Instagram, and we'll blog about it for you!
          </h5>
        </div>

        <div class="row py-5">
          <div class="col-3 d-none d-md-block">
            <!-- empty spacing -->
          </div>
          <div class="col-md-3 col-6">
            <div>
              <img class="img-fluid rounded-circle" src="{% static 'blog/images/mandu.png' %}" style="width: 150px;">
            </div>
            <div class="d-flex justify-content-center py-2 text-right">
              <div class="p-1">
                <a href="https://www.twitter.com/whattheblin">
                  <i class="fab fa-twitter" style="font-size: 2rem;"></i>
                </a>
              </div>
              <div class="p-1">
                <a href="https://www.instagram.com/theblinmachine">
                  <i class="fab fa-instagram" style="font-size: 2rem;"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div>
            <img class="img-fluid rounded-circle" src="{% static 'blog/images/StephYellow.png' %}" style="width: 150px;">
            </div>
            <div class="d-flex justify-content-center py-2 text-left">
              <div class="p-1">
                <a href="https://www.instagram.com/labelle44">
                  <i class="fab fa-instagram" style="font-size: 2rem;"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-3 d-none d-md-block">
            <!-- empty spacing -->
          </div>
        </div>
      </section>
      {% endif %}

    </div>
{% endif %}

<!-- Search results -->
<div class="container mb-5">
  <div class="card-columns">
    {% for post in queryset %}
      <a href="{% url 'post-detail' post.id %}" class="card stretched-link my-4 card-hover">
      <img src="{{ post.card_image.url }}" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title">{{ post.title }}</h4>
        <span>Overall: </span>
        {% if post.overall_rating.get.rating == 1 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.overall_rating.get.rating == 1.5 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.overall_rating.get.rating == 2 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.overall_rating.get.rating == 2.5 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.overall_rating.get.rating == 3 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.overall_rating.get.rating == 3.5 %}
        <span> 
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.overall_rating.get.rating == 4 %}
        <span> 
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.overall_rating.get.rating == 4.5 %}
        <span> 
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </span>
        {% elif post.overall_rating.get.rating == 5 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </span>
        {% endif %}

        <div>
          Nearest Station: <em>{{ post.nearest_station.get }}</em>
        </div>
        <div class="text-right">
          <i class="fas fa-comments"></i> {{ post.comment_set.all.count }}
        </div>
        <hr>


        <span class="card-text">Taste: </span>
        {% if post.taste_rating.get.rating == 1 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.taste_rating.get.rating == 1.5 %}
        <span> 
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.taste_rating.get.rating == 2 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.taste_rating.get.rating == 2.5 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.taste_rating.get.rating == 3 %}
        <span> 
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.taste_rating.get.rating == 3.5 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.taste_rating.get.rating == 4 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.taste_rating.get.rating == 4.5 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </span>
        {% elif post.taste_rating.get.rating == 5 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </span>
        {% endif %}
        <div class="py-2"></div>

        <span class="card-text">Appearance: </span>
        {% if post.appearance_rating.get.rating == 1 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.appearance_rating.get.rating == 1.5 %}
        <span> 
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.appearance_rating.get.rating == 2 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.appearance_rating.get.rating == 2.5 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.appearance_rating.get.rating == 3 %}
        <span> 
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.appearance_rating.get.rating == 3.5 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.appearance_rating.get.rating == 4 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.appearance_rating.get.rating == 4.5 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </span>
        {% elif post.appearance_rating.get.rating == 5 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </span>
        {% endif %}
        <div class="py-2"></div>


        <span class="card-text">Atmosphere: </span>
        {% if post.atmosphere_rating.get.rating == 1 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.atmosphere_rating.get.rating == 1.5 %}
        <span> 
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.atmosphere_rating.get.rating == 2 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.atmosphere_rating.get.rating == 2.5 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.atmosphere_rating.get.rating == 3 %}
        <span> 
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.atmosphere_rating.get.rating == 3.5 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.atmosphere_rating.get.rating == 4 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.atmosphere_rating.get.rating == 4.5 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </span>
        {% elif post.atmosphere_rating.get.rating == 5 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </span>
        {% endif %}
        <div class="py-2"></div>

        <span class="card-text">Price: </span>
        {% if post.price_rating.get.name == "Cheap" %}
        <span>
          <i class="fas fa-ruble-sign"></i>
          <i class="fas fa-ruble-sign unfilled"></i>
          <i class="fas fa-ruble-sign unfilled"></i>
          <i class="fas fa-ruble-sign unfilled"></i>
        </span>
        {% elif post.price_rating.get.name == "Average" %}
        <span> 
          <i class="fas fa-ruble-sign"></i>
          <i class="fas fa-ruble-sign"></i>
          <i class="fas fa-ruble-sign unfilled"></i>
          <i class="fas fa-ruble-sign unfilled"></i>
        </span>
        {% elif post.price_rating.get.name == "Expensive" %}
        <span>
          <i class="fas fa-ruble-sign"></i>
          <i class="fas fa-ruble-sign"></i>
          <i class="fas fa-ruble-sign"></i>
          <i class="fas fa-ruble-sign unfilled"></i>
        </span>
        {% elif post.price_rating.get.name == "Very Expensive" %}
        <span>
          <i class="fas fa-ruble-sign"></i>
          <i class="fas fa-ruble-sign"></i>
          <i class="fas fa-ruble-sign"></i>
          <i class="fas fa-ruble-sign"></i>
        </span>
        {% endif %}
        <div class="py-2"></div>

        <span class="card-text">Service: </span>
        {% if post.service_rating.get.rating == 1 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.service_rating.get.rating == 1.5 %}
        <span> 
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.service_rating.get.rating == 2 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.service_rating.get.rating == 2.5 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.service_rating.get.rating == 3 %}
        <span> 
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star unfilled"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.service_rating.get.rating == 3.5 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.service_rating.get.rating == 4 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star unfilled"></i>
        </span>
        {% elif post.service_rating.get.rating == 4.5 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </span>
        {% elif post.service_rating.get.rating == 5 %}
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </span>
        {% endif %}
        <div class="py-2"></div>
        
        <hr>
        <p class="muted text-center"><em>{{ post.dish_recommendation }}</em></p>
        <p class="muted small">{{ post.recommendation_write_up }}</p>
        <footer class="blockquote-footer">
          <cite title="Source Title">Reviewed on {{ post.date_posted|date:"F d, Y" }}</cite>
        </footer>
      </div>
      </a>
    {% endfor %}
  </div>
</div>



<!-- Paginate Buttons -->
{% if queryset.paginator.num_pages > 1 %}
<section id="paginate-buttons">
<div class="container text-center pb-5">
  <div class="row">
    <div class="col">

        {% if queryset.has_previous and title_query == '' %}
          <a href="?page={{ queryset.previous_page_number }}&title=&store_type={{store_type_query}}&special_feature={{special_feature_query}}&nearest_station={{nearest_station_query}}&price_rating={{price_rating_query}}&overall_rating={{overall_rating_query}}" class="btn btn-dark"><i class="fas fa-angle-left"></i></a>
        {% endif %}

        {% if queryset.has_previous and title_query %}
          <a href="?page={{ queryset.previous_page_number }}&title={{title_query}}&store_type={{store_type_query}}&special_feature={{special_feature_query}}&nearest_station={{nearest_station_query}}&price_rating={{price_rating_query}}&overall_rating={{overall_rating_query}}" class="btn btn-dark"><i class="fas fa-angle-left"></i></a>
        {% endif %}

        {% if queryset.has_previous and store_type_query == None and special_feature_query == None and nearest_station_query == None and price_rating_query == None and overall_rating_query == None %}
          <a href="?page={{ queryset.previous_page_number }}" class="btn btn-dark"><i class="fas fa-angle-left"></i></a>
        {% endif %} 

        <span class="px-2" style="vertical-align: middle;">
            {{ queryset.number }} of {{ queryset.paginator.num_pages }}
        </span>

        {% if queryset.has_next and title_query == '' %}
          <a href="?page={{ queryset.next_page_number }}&title=&store_type={{store_type_query}}&special_feature={{special_feature_query}}&nearest_station={{nearest_station_query}}&price_rating={{price_rating_query}}&overall_rating={{overall_rating_query}}" class="btn btn-dark"><i class="fas fa-angle-right"></i></a>
        {% endif %}

        {% if queryset.has_next and title_query %}
          <a href="?page={{ queryset.next_page_number }}&title={{title_query}}&store_type={{store_type_query}}&special_feature={{special_feature_query}}&nearest_station={{nearest_station_query}}&price_rating={{price_rating_query}}&overall_rating={{overall_rating_query}}" class="btn btn-dark"><i class="fas fa-angle-right"></i></a>
        {% endif %}

        {% if queryset.has_next and store_type_query == None and special_feature_query == None and nearest_station_query == None and price_rating_query == None and overall_rating_query == None %}
          <a href="?page={{ queryset.next_page_number }}" class="btn btn-dark"><i class="fas fa-angle-right"></i></a>
        {% endif %} 
    </div>
  </div>
</div>
</section>
{% endif %}









{% endblock %}