{% extends "blog/base.html" %}
{% block nav_item_login %}active{% endblock nav_item_login %} 
{% load crispy_forms_tags %}
{% block content %}
{% load i18n %}
{% load static %}

{% trans "Login to gain access to Moscow's greatest food blogs, food map and classifieds section. Curious about life in Moscow? Check out our weekly blogs and podcast!" as meta_tag %}

<head>
  <meta name="description" content={{meta_tag}}>
</head>


<section id="login-logout" style="min-height: 100vh; vertical-align: middle;">
  
<div class="container">
  <div class="row py-3">
    <div class="col-lg-4 pb-3 mx-auto">
      <div class="card card-hover" style="border-color: #343a40">
        <div class="card-body">
          <div class="display-4 text-center">
            <div class="container">
              <img class="w-100" src="{% static 'blog/images/logo-nav.svg' %}">
            </div>
          </div>
          <div class="container text-center py-1">
            <hr>
            <h4>{% trans "Log In" %}</h4>
            <hr class="pb-3">
          </div>
          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              {{ form|crispy }}
            </fieldset>
            <div class="form-group text-center">
              <button class="btn btn-primary" type="submit">{% trans "Login" %}</button>
            </div>
          </form>
          <div class="border-top pt-3 text-center">
            <a href="{% url 'register' %}">
            <small class="text-muted">{% trans "Click <strong>here</strong> to create a new account.</small>" %}
            </a>
          </div>
          <div class="text-center">
            <a href="{% url 'password_reset' %}">
            <small class="text-muted">{% trans "Forgot your password? Click <strong>here</strong> to reset it.</small>" %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</section>



{% endblock content %}