{% extends "blog/base.html" %}
{% block nav_item_login %}active{% endblock nav_item_login %} 
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
{% load i18n %}


<section id="login-logout">

<div class="container">
  <div class="row py-3">
    <div class="col-lg-4 pb-3 mx-auto">
      <div class="card card-hover" style="border-color: #343a40">
        <div class="card-body">
            <div class="display-4 text-center">
            <div class="container">
              <img class="w-50" src="{% static 'blog/images/wbrussia.jpg' %}">
            </div>
            </div>
            <div class="container text-center py-1">
            <hr>
                <h4>{% trans "An email has been sent with instructions to reset your password." %}</h4>
            <hr class="pb-3">
          </div>
          <div class="pt-3 text-center">
            <a href="{% url 'login' %}">
            <small class="text-muted">{% trans "Click <strong>here</strong> to login." %}</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

            


{% endblock content %}



