{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row py-5">
        <div class="col">
            <div class="card m-5">
                <div class="card-body text-center"> 
                    <div class="alert alert-info">
                        An email has been sent with instructions to reset your password
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}



