{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load i18n %}

<section id="ad-update-delete" style="min-height:100vh;">
    <div class="container">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <div class="container-fluid text-center py-5" style="max-width:700px;">
                  <div class="card">
                    <div class="card-body">
                      <fieldset class="form-group">
                        <legend class="border-bottom text-center pb-1">
                        <i class="fas fa-exclamation-triangle" style="font-size:2rem; color:#F5A65B;"></i>
                        </legend>
                          <h5 class="pt-2 pb-3">{% trans "Are you sure you want to delete your ad: " %} 
                            <a class="ad-link" href="{% url 'ad-detail' ad.id %}">
                            {{ ad.title }}
                            </a>?
                          </h5>
                          <a href="{% url 'ad-detail' ad.id %}">
                            <img class="rounded w-25" src="{{ad.main_image.url}}">
                          </a>
                      </fieldset>
                      <div class="form-group text-center">
                          <button class="btn btn-danger btn-sm" type="submit">{% trans "Yes, Delete" %}</button>
                          <a class="btn btn-secondary btn-sm" href="{% url 'ad-detail' ad.id %}">{% trans "Cancel" %}</a>
                      </div>
                    </div>
                  </div>  
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock content %}