{% extends "blog/base.html" %}
{% block nav_item_blog-map %}active{% endblock nav_item_blog-map %}
{% load static %}
{% load humanize %}
{% block content %}
{% load i18n %}

<meta name="description" content={{ad.description}}>

<section id="ad-detail">

<div class="container text-center pt-5 pb-3">
  <div class="row">
    <div class="col ">
      <h3>
        {{ad.title}}
        {% if user != ad.author %}
          <em>
            <p class="text-muted small pt-2" style="font-size: 0.9rem;">
              {% trans "posted by" %} {{ad.author}}
            </p>
          </em>
        {% endif %}
      </h3>
    </div>
  </div>
</div>

<!-- Images -->
<div class="container">
  <div class="row mx-auto">

    <!-- Outcome #1: all three images uploaded -->
    {% if ad.image_2 != '' and ad.image_3 != '' %}
    <div class="col-lg-4 col-md-12 my-auto py-1">
      <a href="{{ ad.main_image.url }}">
        <img src="{{ ad.main_image.url }}" class="d-block w-100 rounded-border" style="border-radius: 15px;">
      </a>
    </div>
    <div class="col-lg-4 col-md-12 my-auto py-1">
      <a href="{{ ad.image_2.url }}">
        <img src="{{ ad.image_2.url }}" class="d-block w-100 rounded-border" style="border-radius: 15px;">
      </a>
    </div>
    <div class="col-lg-4 col-md-12 my-auto py-1">
      <a href="{{ ad.image_3.url }}">
        <img src="{{ ad.image_3.url }}" class="d-block w-100 rounded-border" style="border-radius: 15px;">
      </a>
    </div>
    <!-- Outcome #2: No image_2 or image_3 -->
    {% elif ad.image_2 == '' and ad.image_3 == '' %}
    <div class="col-lg-4 col-md-12 my-auto py-1"></div>
    <div class="col-lg-4 col-md-12 my-auto py-1">
      <a href="{{ ad.main_image.url }}">
        <img src="{{ ad.main_image.url }}" class="d-block w-100 rounded-border" style="border-radius: 15px;">
      </a>
    </div>
    <div class="col-lg-4 col-md-12 my-auto py-1"></div>
    <!-- Outcome #3: only main image and image_2 uploaded -->
    {% elif ad.image_2 != '' and ad.image_3 == '' %}
    <div class="col-lg-2 col-md-12 my-auto py-1"></div>
    <div class="col-lg-4 col-md-12 my-auto py-1">
      <a href="{{ ad.main_image.url }}">
        <img src="{{ ad.main_image.url }}" class="d-block w-100 rounded-border" style="border-radius: 15px;">
      </a>
    </div>
    <div class="col-lg-4 col-md-12 my-auto py-1">
      <a href="{{ ad.image_2.url }}">
        <img src="{{ ad.image_2.url }}" class="d-block w-100 rounded-border" style="border-radius: 15px;">
      </a>
    </div>
    <div class="col-lg-2 col-md-12 my-auto py-1"></div>
    {% endif %}
  </div>
</div>


<hr style="position:relative; top: 105px; width: 700px;">
<!-- Ad details -->
<div class="container pt-4">
  <div class="row">
    <div class="col text-center">
      <a href="{% url 'ad-detail' ad.id %}">
        <img src="{{ ad.author.profile.image.url }}" class="card-img-top img-fluid rounded-circle profile-img" style="width:100px; height:100px;">
      </a>
    </div>
  </div>
</div>

<div class="container py-3">
  <div class="col text-center">
    <h3>{% trans "Details" %}</h3>   
  </div>
  <div class="row">
    <div class="col-3">
      <!-- Empty padding for large view -->
    </div>
  <div class="col-lg-6" style="width: 450px;">
    <table class="table table-hover">
      <tbody>
        <tr>
          <td style="width: 40%;">{% trans "Item" %}</td>
          <td></td>
          <td>{{ad.item_or_model_names}}</td> 
        </tr>
        <tr>
          <td>{% trans "Condition" %}</td>
          <td></td>
          <td>{{ad.condition}}</td>                
        </tr>
        <tr>
          <td>{% trans "Asking Price" %}</td>
          <td></td>
          <td>{{ad.asking_price|intcomma}}<i class="fas fa-ruble-sign" style=font-size:0.8rem;></i></td>
        </tr>
        <td>{% trans "Buying or Selling" %}</td>
          <td></td>
          <td>
            {% if ad.buying_or_selling == "I'm a buyer" %}
              {% trans "Buying" %}
            {% elif ad.buying_or_selling == "I'm a seller" %}
              {% trans "Selling" %}
            {% elif ad.buying_or_selling == "I want to trade" %}
              {% trans "I want to trade" %}
            {% endif %}
          </td>           
        <tr>
          <td>{% trans "Cosmetic Damage" %}</td>
          <td></td>
          <td>{{ad.cosmetic_damage}}</td>
        </tr>
        <tr>
          <td>{% trans "Location" %}</td>
          <td></td>
          <td>{{ad.location}}</td>
        </tr>
        <tr>
          <td>{% trans "Willing to Travel" %}</td>
          <td></td>
          <td>{% if ad.willing_to_travel == True %}
                <i class="fas fa-check" style="color: seagreen;"></i>
              {% else %}
                <i class="fas fa-times" style="color: red;"></i>
              {% endif %}
          </td>
        </tr>
        <tr>
          <td>{% trans "Date Posted" %}</td>
          <td></td>
          <td>{{ad.date_posted|date:"m/d/Y"}}</td>
        </tr>
        <tr>
          <td>{% trans "Methods of Contact" %}</td>
          <td></td>
          <td>  
            <section id="ad-contact-methods">
            <div class="d-flex justify-content-left">
              {% if ad.vk_contact == True %}
                <div class="pr-3">
                  <a href="{{ ad.author.profile.vk_link }}">
                    <i class="fab fa-vk fa-1x method-enabled"></i>
                  </a>
                </div>
              {% elif ad.vk_contact == False %}
                <div class="pr-3">
                  <i class="fab fa-vk fa-1x method-disabled"></i>
                </div>
              {% endif %}

              {% if ad.twitter_contact == True %}
                <div class="pr-3">
                  <a href="{{ ad.author.profile.twitter_link }}">
                    <i class="fab fa-twitter fa-1x method-enabled"></i>
                  </a>
                </div>
              {% elif ad.twitter_contact == False %}
                <div class="pr-3">
                  <i class="fab fa-twitter fa-1x method-disabled"></i>
                </div>
              {% endif %}

              {% if ad.instagram_contact == True %}
                <div class="pr-3">
                  <a href="{{ ad.author.profile.instagram_link }}">
                    <i class="fab fa-instagram fa-1x method-enabled"></i>
                  </a>
                </div>
              {% elif ad.instagram_contact == False %}
                <div class="pr-3">
                  <i class="fab fa-instagram fa-1x method-disabled"></i>
                </div>
              {% endif %}

              {% if ad.facebook_contact == True %}
                <div class="pr-3">
                  <a href="{{ ad.author.profile.facebook_link }}">
                    <i class="fab fa-facebook-square fa-1x method-enabled"></i>
                  </a>
                </div>
              {% elif ad.facebook_contact == False %}
                <div class="pr-3">
                  <i class="fab fa-facebook-square fa-1x method-disabled"></i>
                </div>
              {% endif %}
            </section>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="col-3">
      <!-- Empty padding for large view -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-sm-1">
      <!-- Empty spacing -->
    </div>
    <div class="col-md-6 col-sm-10">
      <div class="container mt-4 py-4 border" style="border-radius: 15px;">
        <h4 class="pl-3">
          {% trans 'Description' %}:
          <hr class="my-0 pb-1">
        </h4>
        <div class="container">
          {{ad.description|linebreaks}}
        </div>
        </div>
      </div>
    <div class="col-3">
      <!-- Empty Spacing -->
    </div>
  </div>

  {% if user != ad.author %}
    <div class="row">
      <div class="col text-center pt-4 pb-5">
        <a href="{% url 'send-email' ad.id %}" class="btn btn-primary btn-sm">{% trans "I'm interested!" %}</a>
      </div>
    </div>
  {% elif user == ad.author %}
    <div class="row">
      <div class="col-6 text-right pt-4 pb-5">
        <a href="{% url 'ad-update' ad.id %}" class="btn btn-primary btn-sm">{% trans "Update" %}</a>
      </div>
      <div class="col-6 text-left pt-4 pb-5">
        <a href="{% url 'ad-delete' ad.id %}" class="btn btn-danger btn-sm text-white">{% trans "Delete" %}</a>
      </div>
    </div>
  {% endif %}
</div>



{% endblock content %}

