{% extends "blog/base.html" %}
{% block nav_item_blog-map %}active{% endblock nav_item_blog-map %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% load i18n %}

{% trans "Post a free ad on the Moscow Buy and Sell board. English and Russian language support, built primarily for expats living in the city." as meta_tag %}

<head>
  <meta name="description" content={{meta_tag}}>
</head>

<section id="ad-create">
<div class="container py-5">
  <div class="content-section">
      <form method="POST" enctype="multipart/form-data" onsubmit="return submitUserForm();">
          {% csrf_token %}
          <fieldset class="form-group ">
              <legend class="border-bottom mb-4">{% trans "Post A New Ad" %}</legend>
                {{ form|crispy }}
          </fieldset>
          <div class="g-recaptcha" data-sitekey="6Le9ArYUAAAAANZ_UerCig5v9iUPrR8v0yIOnMS2" data-callback="verifyCaptcha"></div>
            <div id="g-recaptcha-error" class="form-group pb-3"></div>
                <div class="container text-center pb-5">
                    <button class="btn btn-primary" name="submit" type="submit">{% trans "Post Ad" %}</button>
              </div>
          </div>
      </form>
  </div>
</div>
</section>

<!-- Google ReCaptchav2 -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
function submitUserForm() {
    var response = grecaptcha.getResponse();
    if(response.length == 0) {
        document.getElementById('g-recaptcha-error').innerHTML = '<span style="color:red;">This field is required.</span>';
        return false;
    }
    return true;
}
 
function verifyCaptcha() {
    document.getElementById('g-recaptcha-error').innerHTML = '';
}
</script>

{% endblock content %}

