{% extends "blog/base.html" %}
{% block nav_item_blog-map %}active{% endblock nav_item_blog-map %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container py-5">
  <div class="content-section">
      <form method="POST" enctype="multipart/form-data">
        <div class="g-recaptcha" data-sitekey="6LeMArYUAAAAAG2xeuGSS1BUFNsimqW7igtZBPNa"></div>
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Post A New Ad</legend>
                  {{ form|crispy }}
          </fieldset>
          <div class="form-group text-center pb-5">
              <button class="btn btn-primary" type="submit">Post Ad</button>
          </div>
      </form>
  </div>
</div>

<!-- Google ReCaptchav2 -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock content %}
