{% extends "blog/base.html" %}
{% block nav_item_classifieds %}active{% endblock nav_item_classifieds %}
{% load static %}
{% load classifieds_tags %}
{% load humanize %}
{% block content %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<head>
<meta name="description" CONTENT="Welcome to Moscow's expat classifieds board. New to Moscow and looking for something? Got something to sell? Check the Buy and Sell board. Want a new job? Head to jobs section.">
</head>

<!-- Carousel -->
<section id="carousel-section">
  <div class="container-fluid px-0">
    <div id="foodsearch-banner" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          {% for image in carousel_images %}
            <img class="d-block w-100" src="{{ image.image.url }}" alt="First slide">
            <div class="carousel-caption carousel-caption-center d-lg-block d-none">
              <h4 style="color:black">
                {{ image.title }}
              </h4>
              <p style="color:black">
                {{ image.caption }}
              </p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Search bars -->
<div class="container">
  <form method="GET" action=".">
      <div class="row pb-4">

        <!-- Search by Contains -->
        <div class="col-lg-3 col-md-3 px-1">
          <div class="input-group">
            {% if LANGUAGE_CODE == "en" %}
              <input class="form-control form-control-sm" type="search" name="keyword_filter" placeholder=
                "Keyword..."
                {% if keyword_query %}
                  value="{{keyword_query}}"
                {% endif %}>
            {% elif LANGUAGE_CODE == "ru" %}
              <input class="form-control form-control-sm" type="search" name="keyword_filter" placeholder="Название содержит..." />
            {% endif %}
            <span class="input-group-append">
              <div class="input-group-text">
                <i class="fa fa-search" bg></i>
              </div>
            </span>
          </div>
        </div>

        <!-- Search by category -->
        <div class="col-lg-3 col-md-3 px-1">
          <select class="custom-select custom-select-sm" name="category_filter">
              {% if category_query == None %}
                <option selected>{% trans 'Category...' %}</option>
              {% elif category_query %}
                <option selected>{{category_query}}</option>
              {% endif %}
              <option>{% trans 'arts and crafts' %} - ({% total_arts_and_crafts %})</option>
              <option>{% trans 'baby and kids' %} - ({% total_baby_and_kids %})</option>
              <option>{% trans 'beauty and health' %} - ({% total_beauty_and_health %})</option>
              <option>{% trans 'bikes' %} - ({% total_bikes %})</option>
              <option>{% trans 'books' %} - ({% total_books %})</option>
              <option>{% trans 'cell phones' %} - ({% total_cell_phones %})</option>
              <option>{% trans 'clothing' %} - ({% total_clothing %})</option> 
              <option>{% trans 'collectibles' %} - ({% total_collectibles %})</option>
              <option>{% trans 'computers' %} - ({% total_computers %})</option>
              <option>{% trans 'electronics' %} - ({% total_electronics %})</option>
              <option>{% trans 'garden' %} - ({% total_garden %})</option>
              <option>{% trans 'general' %} - ({% total_general %})</option>
              <option>{% trans 'free' %} - ({% total_free %})</option>
              <option>{% trans 'household' %} - ({% total_household %})</option>
              <option>{% trans 'pets' %} - ({% total_pets %})</option>
              <option>{% trans 'furniture' %} - ({% total_furniture %})</option>
              <option>{% trans 'jewelery' %} - ({% total_jewelery %})</option>
              <option>{% trans 'kitchenware and appliances' %} - ({% total_kitchenware_and_appliances %})</option>
              <option>{% trans 'materials' %} - ({% total_materials %})</option>
              <option>{% trans 'musical instruments' %} - ({% total_musical_instruments %})</option>
              <option>{% trans 'cameras' %} - ({% total_cameras %})</option>
              <option>{% trans 'tools' %} - ({% total_tools %})</option>
              <option>{% trans 'games' %} - ({% total_games %})</option>
          </select>
        </div>

        <!-- Search by buyer/seller -->
        <div class="col-lg-2 col-md-3 px-1">
          <select class="custom-select custom-select-sm" name="role_filter">
              {% if role_query %}
                <option selected>{{ role_query }}</option>
              {% else %}
                <option selected>{% trans "I want to buy / sell..." %}</option>
              {% endif %}

              {% if role_query != 'I want to buy' %}
                <option>{% trans "I want to buy" %}</option>
              {% endif %}
              {% if role_query != 'I want to sell' %}
                <option>{% trans "I want to sell" %}</option>
              {% endif %}
              {% if role_query != 'I want to trade' %}
                <option>{% trans "I want to trade" %}</option>
              {% endif %}
          </select>
        </div>

        <!-- Search by price -->
        <div class="col-lg-2 col-md-3 px-1">
          <div class="input-group">
            <input class="form-control form-control-sm" type="search" name="price_filter" placeholder="{% trans 'Less than ... (₽)' %}" 
            {% if price_query %}
              value={{price_query}}
            {% endif %}>
          </div>
        </div>

        <!-- Search Button -->
        <div class="col-lg-1 d-none d-lg-block text-right my-auto px-1">
         <button type="submit" class="btn btn-sm btn-primary" value="Filter">
            {% trans "Search" %}
          </button>
        </div>

        <!-- Reset Button -->
        <div class="col-lg-1 d-none d-lg-block text-left my-auto px-1">
          <a href="{% url 'ad-list' %}" class="btn btn-sm btn-danger" role="button">
            <i class="fas fa-history primary"></i>
          </a>
        </div>

        <!-- Search Button (Mobile, drops to a new row) -->
        <div class="container text-center pt-2">
            <button type="submit" class="btn btn-sm btn-primary d-lg-none d-md-inline-block" value="Filter">
              {% trans "Search" %}
            </button>

          <!-- Reset Button (Mobile, drops to a new row) -->
          <span>
            <a href="{% url 'ad-list' %}" class="btn btn-sm btn-danger d-lg-none d-md-inline-block" role="button">
              <i class="fas fa-history primary"></i>
            </a>
        </div>

      </div>
    </div>
  </form>
</div>

<!-- Results: Column Titles -->
<section id="ad-list-results">
  <div class="container w-100 px-3">
    <h3>{% trans "Community Ads" %}</h3>
    <div class="row border-bottom">
      <!-- Adjust the search result counts based on whether or not the search filter was used -->
      <div class="col-md-6">
        {% if ads.paginator.count == 0 %}
          <p class="text-small m-0 p-0">{% trans "No results found." %}</p>
        {% elif ads.paginator.count == 1 %}
          <p class="text-small m-0 p-0">1 {% trans "result." %}</p>
        {% elif ads.paginator.count > 1 %}
          <p class="text-small m-0 p-0">{{ads.paginator.count}} {% trans "results." %}</p>
        {% endif %}
      </div>
      <div class="col-md-2 d-none d-md-block">
        <!-- Image column, needs no header -->
      </div>
      <div class="col-md-2 d-none d-md-block">
        {% trans "Price" %}
      </div>
      <div class="col-md-2 d-none d-md-block">
        {% trans "Location" %}
      </div>
    </div>

    <!-- Results: Ads -->
    {% for ad in ads %}
      <div class="row border-bottom">
        <!-- Title, author, icons -->
        <div class="col-md-6 d-md-block d-none py-2 my-auto">
          <div class="text-muted small pr-1">
            {{ad.date_posted|date:"M d"}}
          </div>
          <!-- Title -->
          <a href="{% url 'ad-detail' ad.id %}" style="color:royalblue;">
            {{ad.title}}
              {% if ad.main_image != "default_ad.jpg" %}
                <span style="color:#F5A65B;">
                  <em>pic</em>
                </span>
              {% endif %}
          </a>

          <!-- Edit, Delete icons -->
          {% if user == ad.author %}
            <span class="text-left" class="py-0">
              <a href="{% url 'ad-update' ad.id %}" class="py-0">
                <i class="fas fa-edit py-0 " style="color: rgb(245, 91, 91); font-size: 0.75rem;"></i>
              </a>
              <a href="{% url 'ad-delete' ad.id %}" class="py-0">
                <i class="fas fa-trash py-0" style="color: rgb(245, 91, 91); font-size: 0.75rem;"></i>
              </a>
            </span>
          {% endif %} 
        </div>

        <!-- Mobile View (title, author, icons) -->
        <div class="col-12 d-sm-block d-md-none py-2">
          <span class="text-muted small text-left">
            {{ad.date_posted|date:"M d"}}
          </span>
          {% if user == ad.author %}
            <span class="text-right" style="position:relative; left:80%;">
              <a href="{% url 'ad-update' ad.id %}">
                <i class="fas fa-edit" style="color: rgb(245, 91, 91); font-size: 0.75rem;"></i>
              </a>
              <a href="{% url 'ad-delete' ad.id %}">
                <i class="fas fa-trash" style="color: rgb(245, 91, 91); font-size: 0.75rem;"></i>
              </a>
            </span>
          {% endif %}
          <!-- Images (mobile) -->
          <!-- Only add the container if there is actually an image attached: -->
          {% if ad.main_image != 'default_ad.jpg' %}
            <div class="container text-center py-2">
              <img src="{{ ad.main_image.url }}" class="rounded" style="width:32%;" alt="">
            </div>
          {% endif %}

          <div class="div text-center py-2">
            <a href="{% url 'ad-detail' ad.id %}" style="color:royalblue;">
            {{ad.title}} 
              {% if ad.main_image != "default_ad.jpg" %}
                <span style="color:#F5A65B;">
                  <em>pic</em>
                </span>
              {% endif %}
            </a>
          </div>
        </div>

        <div class="col-md-2 d-none d-md-block py-2 my-auto">
          <!-- Images -->
          <!-- Only add the container if there is actually an image attached: -->
          {% if ad.main_image != 'default_ad.jpg' %}
            <div class="container text-center py-2 my-auto">
              {% if ad.main_image != 'default_ad.jpg' %}
                <img src="{{ ad.main_image.url }}" class="rounded" style="width:80%;" alt="">
              {% endif %}
            </div>
          {% endif %}
        </div>

        <div class="col-md-2 d-md-block d-none py-2 my-auto">
          {{ad.asking_price|intcomma}} <i class="fas fa-ruble-sign" style=font-size:0.8rem;></i>
        </div>

        <!-- Mobile View (Price) -->
        <div class="col-12 d-sm-block d-md-none text-center py-2">
          {{ad.asking_price|intcomma}} <i class="fas fa-ruble-sign" style=font-size:0.8rem;></i>
        </div>

        <div class="col-md-2 d-none d-md-block py-2 my-auto">
          {{ad.location}}
        </div>
      </div>
    {% endfor %}

    <div class="container text-center pt-5">
      <a href="{% url 'ad-create' %}" class="btn btn-sm btn-primary">{% trans "Post An Ad" %}</a>
    </div>

    <!-- Pagination -->
    <section id="paginate-buttons">
      <div class="container text-center pb-3">
        {% if ads.has_previous %}
          {% if keyword_query == None and category_query == None and role_query == None and price_query == None %}
            <a class="btn btn-sm btn-outline-dark" href="?page={{ ads.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
          {% else %}
            <a class="btn btn-sm btn-outline-dark" href="?page={{ ads.previous_page_number }}&keyword_filter={{ keyword_query }}&category_filter={{ category_query }}&role_filter={{ role_query}}&price_filter={{ price_query }}"><i class="fas fa-angle-left"></i></a>
          {% endif %}
        {% else %}
          <!-- Keep the button there anyway, but make it invisible, to keep the page number the anchor for centering -->
          <div class="btn btn-sm btn-outline-dark" style="opacity: 0; cursor:default;">
            <i class="fas fa-angle-left"></i>
          </div>
        {% endif %}

        {% for num in ads.paginator.page_range %}
          {% if ads.number == num %}
            {% if ads.paginator.num_pages != 1 %}
              <a class="btn btn-sm btn-dark text-center" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}

        {% if ads.has_next %}
          {% if keyword_query == None and category_query == None and role_query == None and price_query == None %}
            <a class="btn btn-sm btn-outline-dark" href="?page={{ ads.next_page_number }}"><i class="fas fa-angle-right"></i></a>
          {% else %}
            <a class="btn btn-sm btn-outline-dark" href="?page={{ ads.next_page_number }}&keyword_filter={{ keyword_query }}&category_filter={{ category_query }}&role_filter={{ role_query}}&price_filter={{ price_query }}"><i class="fas fa-angle-right"></i></a>
          {% endif %}
        {% else %}
          <!-- Keep the button there anyway, but make it invisible, to keep the page number the anchor for centering -->
          <div class="btn btn-sm btn-outline-dark" style="opacity: 0; cursor:default;">
            <i class="fas fa-angle-right"></i>
          </div>
        {% endif %}
      </div>
    </section>

  </div>
</section>
  


<!-- Adding padding at the bottom. -->
<div class="container">
  <div class="row">
    <div class="col" style="height: 50px;"></div>
  </div>
</div>

      

{% endblock content %}

