{% extends "blog/base.html" %}
{% block nav_item_blog-map %}active{% endblock nav_item_blog-map %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% load i18n %}

<section id="ad-update-delete">
<div class="container py-5">
  <div class="content-section">
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">{% trans "Update Ad:" %}" "{{ad.title}}"</legend>
                  {{ form|crispy }}
          </fieldset>
          <div class="form-group text-center">
              <button class="btn btn-sm btn-primary" type="submit">{% trans "Update" %}</button>
          </div>
      </form>
  </div>
</div>
</section>

<!-- Google ReCaptchav2 -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
function submitUserForm() {
    var response = grecaptcha.getResponse();
    if(response.length == 0) {
        document.getElementById('g-recaptcha-error').innerHTML = '<span style="color:red;">This field is required.</span>';
        return false;
    }
    return true;
}
 
function verifyCaptcha() {
    document.getElementById('g-recaptcha-error').innerHTML = '';
}
</script>

{% endblock content %}
