{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<section id="ad-update-delete">
    <div class="container">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <div class="container p-5">
                  <div class="card">
                    <div class="card-body">
                      <fieldset class="form-group">
                          <legend class="border-bottom text-center pb-1">Delete Ad</legend>
                          <h5 class="pt-2 pb-3">Are you sure you want to delete your ad: "{{ ad.title }}"?</h5>
                      </fieldset>
                      <div class="form-group text-center">
                          <button class="btn btn-danger" type="submit">Yes, Delete</button>
                          <a class="btn btn-secondary" href="{% url 'ad-detail' ad.id %}">Cancel</a>
                      </div>
                    </div>
                  </div>  
                </div>
            </form>
        </div>
    </div>
</section>
    
{% endblock content %}