{% extends "blog/base.html" %}
{% block nav_item_classifieds %}active{% endblock nav_item_classifieds %}
{% load static %}
{% load classifieds_tags %}
{% load humanize %}
{% block content %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% trans "Search for a new job in the Moscow classifieds. English and Russian language support, connecting Russian employers with English speakers seeking employment in Moscow. Find a job in Moscow." as meta_tag %}

<head>
  <meta name="description" content={{meta_tag}}>
  <title>Find a Job in Moscow</title>
</head>

<!-- Flickity -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="/django_project/blog/static/blog/js/flickity.pkgd.min.js"></script>
<!-- Flickity CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" href="/django_project/blog/static/blog/flickity.min.css" media="screen">

<!-- Carousel -->
<section id="carousel-section">
<div class="main-carousel">
  {% for image in carousel_images %}
    {% if LANGUAGE_CODE == 'en' %}
      <div class="carousel-cell">
        <a href="{{ image.link }}" class="stretched-link">
          <img class="w-100" src="{{ image.image.url }}">
          {% if image.text_position == "Center" %}
            <div class="carousel-caption-center carousel-caption">
              <h4>
                {{ image.title }}
              </h4>
              <p>
                {{ image.caption }}
              </p>
            </div>
          {% elif image.text_position == "Left" %}
            <div class="carousel-caption-top-left carousel-caption">
              <h4>
                {{ image.title }}
              </h4>
              <p>
                {{ image.caption }}
              </p>
            </div>
          {% elif image.text_position == "Right" %}
            <div class="carousel-caption-top-right carousel-caption">
              <h4>
                {{ image.title }}
              </h4>
              <p>
                {{ image.caption }}
              </p>
            </div>
          {% endif %}
        </a>
      </div>
    {% elif LANGUAGE_CODE == 'ru' %}
      <div class="carousel-cell">
        <a href="{{ image.link }}" class="stretched-link">
          <img class="w-100" src="{{ image.image.url }}">
          {% if image.text_position == "Center" %}
            <div class="carousel-caption-center carousel-caption">
              <h4>
                {{ image.title_russian }}
              </h4>
              <p>
                {{ image.caption_russian }}
              </p>
            </div>
          {% elif image.text_position == "Left" %}
            <div class="carousel-caption-top-left carousel-caption">
              <h4>
                {{ image.title_russian }}
              </h4>
              <p>
                {{ image.caption_russian }}
              </p>
            </div>
          {% elif image.text_position == "Right" %}
            <div class="carousel-caption-top-right carousel-caption">
              <h4>
                {{ image.title_russian }}
              </h4>
              <p>
                {{ image.caption_russian }}
              </p>
            </div>
          {% endif %}
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>
</section>



<!-- Search bars -->
<section id="search-fields" class="d-none d-md-flex">
  <form class="justify-content-center align-items-center" style="width:900px;">
    <div class="inner-form">

        <!-- Search by keyword -->
      <div class="input-field first-wrap">
        <input type="text" name="keyword_filter" placeholder={% trans "Keyword..." %} value={% if keyword_query %}
                {{keyword_query}}
              {% else %}
                ""
              {% endif %}/>
      </div>

        <!-- Search by location -->
        <select id="location_filter" class="input-field middle-wrap" name="location_filter">
          {% if location_query == None %}
            <option selected>{% trans "Location..." %}</option>
          {% elif location_query %}
            <option selected>{{ location_query }}</option>
          {% endif %}
          {% for location in location_list %}
            {% if location != location_query %}
              <option>{{ location }}</option>
            {% endif %}
          {% endfor %}
        </select>
     

        <!-- Search by position type -->
        <select id="position_filter" class="input-field middle-wrap" name="position_filter">
          {% if position_query == None %}
            <option selected>{% trans "Position Type..." %}</option>
          {% elif position_query %}
            <option selected>{{position_query}}</option>
          {% endif %}
          {% if position_query != 'Полная занятость' and position_query != None %}
            <option>{% trans 'Full-time' %}</option>
          {% endif %}
          {% if position_query != 'Частичная занятость' %}
            <option>{% trans 'Part-time' %}</option>
          {% endif %}>
          {% if position_query != 'Все оплаченные позиции' %}
            <option>{% trans 'All-paid' %}</option>
          {% endif %}
          {% if position_query != 'Волонтерство' %}
            <option>{% trans 'Volunteer' %}</option>
          {% endif %}
        </select>


        <!-- Search by salary -->
        <input type="text" name="salary_filter" class="input-field last-wrap" placeholder="{% trans 'Salary of at least...' %}"
              {% if salary_query %}
                value="{{salary_query}}"
              {% endif %}>


        <!-- Search button -->
        <div class="input-field search-button-wrap">
          <button type="submit" class="btn-search" value="Filter">
            <i class="fas fa-search"></i>
          </button>
        </div>

        <!-- Reset button -->
        <div class="input-field reset-button-wrap">
          <button type="button" class="btn-reset" onclick="window.location.href='{% url 'job-list' %}'">
            <i class="fas fa-undo"></i>
          </button>
        </div>

    </div>
  </form>
</section>

<!-- Results: Column Titles -->
<section id="ad-list-results">
  <div class="container w-100 px-3">
    <h3>{% trans "Job Ads" %}</h3>
    <div class="row border-bottom">
      <!-- Adjust the search result counts based on whether or not the search filter was used -->
      <div class="col-md-6">
        {% if ads.paginator.count == 0 %}
          <p class="text-small m-0 p-0">{% trans "No results found." %}</p>
        {% elif ads.paginator.count == 1 %}
          <p class="text-small m-0 p-0">1 {% trans "result." %}</p>
        {% elif ads.paginator.count > 1 %}
          <p class="text-small m-0 p-0">{{ads.paginator.count}} {% trans "results." %}</p>
        {% endif %}
      </div>
      <div class="col-md-2 d-none d-md-block">
        <!-- Image column, needs no header -->
      </div>
      <div class="col-md-2 d-none d-md-block">
        {% trans "Salary" %}
      </div>
      <div class="col-md-2 d-none d-md-block">
        {% trans "Location" %}
      </div>
    </div>

    <!-- Results: Ads -->
    {% for ad in ads %}
      <div class="row border-bottom">
        <!-- Title, author, icons -->
        <div class="col-md-6 d-md-block d-none py-2 my-auto">
          <div class="text-muted small pr-1">
            {{ad.date_posted|date:"M d"}}
          </div>
          <!-- Title -->
          <a href="{% url 'job-detail' ad.id %}" style="color:royalblue;">
            {{ad.title}}
              {% if ad.main_image != "default_ad.jpg" %}
                <span style="color:#F5A65B;">
                  <em>pic</em>
                </span>
              {% endif %}
          </a>

          <!-- Edit, Delete icons -->
          {% if user == ad.author %}
            <span class="text-left" class="py-0">
              <a href="{% url 'job-update' ad.id %}" class="py-0">
                <i class="fas fa-edit py-0 pl-2" style="color: rgb(245, 91, 91); font-size: 0.75rem;"></i>
              </a>
              <a href="{% url 'job-delete' ad.id %}" class="py-0">
                <i class="fas fa-trash py-0 pl-1" style="color: rgb(245, 91, 91); font-size: 0.75rem;"></i>
              </a>
            </span>
          {% endif %} 
        </div>

        <!-- Mobile View (title, author, icons) -->
        <div class="col-12 d-sm-block d-md-none py-2">
          <span class="text-muted small text-left">
            {{ad.date_posted|date:"M d"}}
          </span>
          {% if user == ad.author %}
            <span class="text-right" style="position:relative; left:80%;">
              <a href="{% url 'job-update' ad.id %}">
                <i class="fas fa-edit pl-2" style="color: rgb(245, 91, 91); font-size: 0.75rem;"></i>
              </a>
              <a href="{% url 'job-delete' ad.id %}">
                <i class="fas fa-trash pl-1" style="color: rgb(245, 91, 91); font-size: 0.75rem;"></i>
              </a>
            </span>
          {% endif %}

          <!-- Mobile View: Only add the container if there is actually an image attached: -->
          <div class="container text-center py-2">
            {% if ad.main_image != 'default_ad.jpg' %}
              <img src="{{ ad.main_image.url }}" class="rounded" style="width:32%;" alt="">
            {% endif %}
          </div>

          <div class="div text-center py-2">
            <a href="{% url 'job-detail' ad.id %}" style="color:royalblue;">
            {{ad.title}} 
              {% if ad.image != "default_ad.jpg" %}
                <span style="color:#F5A65B;">
                  <em>pic</em>
                </span>
              {% endif %}
            </a>
          </div>
        </div>

        <!-- Standard views: Only add the container if there is actually an image attached: -->
        <div class="col-md-2 d-none d-md-block py-2 my-auto">
          {% if ad.main_image != 'default_ad.jpg' %}
            <div class="container text-center py-2 my-auto">
              {% if ad.main_image != 'default_ad.jpg' %}
                <img src="{{ ad.main_image.url }}" class="rounded" style="width:80%;" alt="">
              {% endif %}
            </div>
          {% endif %}
        </div>

        <!-- Mobile View (drop price and location columns) -->
        <div class="col-md-2 d-md-block d-none py-2 my-auto">
          {{ad.salary}}<i class="fas fa-ruble-sign" style=font-size:0.8rem;></i>
        </div>

        <div class="col-md-2 d-none d-md-block py-2 my-auto">
          {{ad.location}}
        </div>
      </div>
    {% endfor %}

    <div class="container text-center pt-5">
      <a href="{% url 'job-create' %}" class="btn btn-sm btn-primary">{% trans "Post An Ad" %}</a>
    </div>

    <!-- Pagination -->
    <section id="paginate-buttons">
      <div class="container text-center pb-3">
        {% if ads.has_previous %}
          {% if keyword_query == None and category_query == None and role_query == None and price_query == None %}
            <a class="btn btn-sm btn-outline-dark" href="?page={{ ads.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
          {% else %}
            <a class="btn btn-sm btn-outline-dark" href="?page={{ ads.previous_page_number }}&keyword_filter={{ keyword_query }}&location_filter={{ location_query }}&salary_filter={{ salary_query}}&position_filter={{ position_query }}"><i class="fas fa-angle-left"></i></a>
          {% endif %}
        {% else %}
          <!-- Keep the button there anyway, but make it invisible, to keep the page number the anchor for centering -->
          <div class="btn btn-sm btn-outline-dark" style="opacity: 0; cursor:default;">
            <i class="fas fa-angle-left"></i>
          </div>
        {% endif %}

        {% for num in ads.paginator.page_range %}
          {% if ads.number == num %}
            {% if ads.paginator.num_pages != 1 %}
              <a class="btn btn-sm btn-dark text-center" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}

        {% if ads.has_next %}
          {% if keyword_query == None and category_query == None and role_query == None and price_query == None %}
            <a class="btn btn-sm btn-outline-dark" href="?page={{ ads.next_page_number }}"><i class="fas fa-angle-right"></i></a>
          {% else %}
            <a class="btn btn-sm btn-outline-dark" href="?page={{ ads.next_page_number }}&keyword_filter={{ keyword_query }}&location_filter={{ location_query }}&salary_filter={{ salary_query}}&position_filter={{ position_query }}"><i class="fas fa-angle-right"></i></a>
          {% endif %}
        {% else %}
          <!-- Keep the button there anyway, but make it invisible, to keep the page number the anchor for centering -->
          <div class="btn btn-sm btn-outline-dark" style="opacity: 0; cursor:default;">
            <i class="fas fa-angle-right"></i>
          </div>
        {% endif %}
      </div>
    </section>
  

  </div>
</section>
  


<!-- Adding padding at the bottom. -->
<div class="container">
  <div class="row">
    <div class="col" style="height: 50px;"></div>
  </div>
</div>

<script>
  // Flickity
$('.main-carousel').flickity({
  // options
  cellAlign: 'left',
  contain: true,
  autoPlay: 3000,
  selectedAttraction: 0.01,
  friction: 0.15,
  prevNextButtons: false,
  wrapAround: true,
  pageDots: false
});
</script>

{% endblock content %}